# Final Notebook: Data Preprocessing, Modelling, and Inference

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import sys
import os

In [2]:
# Setting path to load util functions
from pathlib import Path
parent_dir = Path.cwd().parents[0]
sys.path.append(os.path.abspath(parent_dir))

### Loading Train and Test Data

In [3]:
train_df = pd.read_csv('../../data/training_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

In [4]:
train_df['date_id'] = pd.to_datetime(train_df['date_id'])
test_df['date_id'] = pd.to_datetime(test_df['date_id'])

In [5]:
#Instantiating preprocessor object using DataPreprocessPipeline class
from utils.DataPreprocessPipeline import DataPreprocessPipeline
preprocessor = DataPreprocessPipeline(num_lags=3, rolling_window_size=3)

/opt/anaconda3/envs/nibm_ml/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
#merging train_df and test_df to preprocess the data together (so time-series features would be created)
full_df = pd.concat([train_df, test_df])

In [7]:
full_df

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0      2021-11-01    Grocery       1.0      160.0   XYZ   16620    1475459.0
1      2021-11-01    Grocery       2.0      480.0   XYZ   32365    1475459.0
2      2021-11-01    Grocery       1.0      127.0   XYZ   31349    1475459.0
3      2021-11-01  Household       2.0      110.0   XYZ    1266    1475475.0
4      2021-11-01  Household       1.0      150.0   XYZ  114920    1475475.0
...           ...        ...       ...        ...   ...     ...          ...
247619 2022-02-28    Grocery       5.0      500.0   XYZ  114873          NaN
247620 2022-02-28  Household       4.0     2361.0   XYZ  117497          NaN
247621 2022-02-28    Grocery       2.0      480.0   XYZ   77298          NaN
247622 2022-02-28  Beverages       1.0     1900.0   XYZ    1444          NaN
247623 2022-02-28    Grocery       1.0     1060.0   XYZ   16220          NaN

[861722 rows x 7 columns]

In [12]:
#preprocessing the data
full_df_processed = preprocessor.transform(full_df)

In [9]:
np.polyfit(x = [1, 2, 3], y = [917, 1140, 837], deg=1)

array([ -40.        , 1044.66666667])

In [13]:
full_df_processed.head(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,cumsum_item_qty,cummean_item_qty,expanding_min_item_qty,expanding_max_item_qty,diff_item_qty,diff_item_qty_7,trend_item_qty,lag_net_sales_1,lag_net_sales_2,lag_net_sales_3,rolling_mean_net_sales_3,rolling_std_net_sales_3,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,trend_net_sales,day_of_week,isWeekend,Is_Holiday,store_XYZ,item_dept_Grocery,item_dept_Household
48,2021-11-09,Beverages,ABC,815.000,199577.00000,974.000,937.000,884.000,931.666667,45.236416,7936.000,992.000000,837.000,1256.000,37.000,57.000,-8.809524,246984.68200,218668.693000,241963.000000,235872.125000,15108.702028,1.950837e+06,243854.610752,199145.596010,277904.838000,28315.989000,-7563.117010,-2629.784287,1,0,0,0.0,0.0,0.0
49,2021-11-09,Beverages,XYZ,971.000,263813.85400,677.000,1043.000,1086.000,935.333333,224.753940,7172.000,896.500000,677.000,1086.000,-366.000,-102.000,7.404762,201386.08100,289993.000000,262426.080000,251268.387000,45344.978867,1.877084e+06,234635.446128,187931.769020,289993.000000,-88606.919000,13454.311980,4394.378891,1,0,0,1.0,0.0,0.0
50,2021-11-09,Grocery,ABC,2489.046,497413.33899,2326.638,2646.820,2614.006,2529.154667,176.150333,20427.563,2553.445375,2155.128,3021.684,-320.182,-33.761,-8.663536,438841.43801,505512.742970,548660.900000,497671.693660,55328.022725,3.912755e+06,489094.381872,397946.965024,582206.592985,-66671.304960,1554.813990,428.854628,1,0,0,0.0,1.0,0.0
51,2021-11-09,Grocery,XYZ,3608.112,622938.06900,2879.414,3608.962,3625.864,3371.413333,426.167722,26569.025,3321.128125,2879.414,3625.864,-729.548,-107.646,2.449369,498037.79100,661655.000010,622856.562004,594183.117671,85494.283894,4.508435e+06,563554.392877,491450.723000,661655.000010,-163617.209010,6587.068000,6958.502798,1,0,0,1.0,1.0,0.0
52,2021-11-09,Household,ABC,930.000,229917.00000,883.000,998.000,1152.000,1011.000000,134.970367,7997.000,999.625000,819.000,1195.000,-115.000,-160.000,-12.392857,240294.89201,233781.880016,284326.000000,252800.924009,27495.047618,2.015710e+06,251963.806386,209100.513996,292020.462024,6513.011994,-7041.374000,-1100.918131,1,0,0,0.0,0.0,1.0
53,2021-11-09,Household,XYZ,1118.000,277746.99300,944.000,1252.000,1315.000,1170.333333,198.525397,8850.000,1106.250000,944.000,1315.000,-308.000,-180.000,-4.095238,237517.07200,283841.000000,305140.577002,275499.549667,34574.838430,2.036196e+06,254524.549999,222311.011000,305140.577002,-46323.928000,-9638.937988,2392.739691,1,0,0,1.0,0.0,1.0
54,2021-11-10,Beverages,ABC,924.000,238515.24300,815.000,974.000,937.000,908.666667,83.200561,8751.000,972.333333,815.000,1256.000,-159.000,-325.000,-17.966667,199577.00000,246984.682000,218668.693000,221743.458333,23852.939327,2.150414e+06,238934.876224,199145.596010,277904.838000,-47407.682000,-78327.838000,-4792.689718,2,0,0,0.0,0.0,0.0
55,2021-11-10,Beverages,XYZ,934.000,259906.50800,971.000,677.000,1043.000,897.000000,193.896880,8143.000,904.777778,677.000,1086.000,294.000,49.000,10.150000,263813.85400,201386.081000,289993.000000,251730.978333,45522.449813,2.140897e+06,237877.491447,187931.769020,289993.000000,62427.773000,12483.724000,5021.292415,2,0,0,1.0,0.0,0.0
56,2021-11-10,Grocery,ABC,2876.364,522461.82600,2489.046,2326.638,2646.820,2487.501333,160.096589,22916.609,2546.289889,2155.128,3021.684,162.408,-532.638,-10.357767,497413.33899,438841.438010,505512.742970,480589.173323,36380.697341,4.410168e+06,490018.710441,397946.965024,582206.592985,58571.900980,-84793.253995,854.795381,2,0,0,0.0,1.0,0.0
57,2021-11-10,Grocery,XYZ,3666.634,635110.82600,3608.112,2879.414,3608.962,3365.496000,420.959575,30177.137,3353.015222,2879.414,3625.864,728.698,-15.604,20.846817,622938.06900,498037.791000,661655.000010,594210.286670,85507.963835,5.131373e+06,570152.579113,491450.723000,661655.000010,124900.278000,30742.579998,8829.863700,2,0,0,1.0,1.0,0.0
58,2021-11-10,Household,ABC,1160.000,304131.27800,930.000,883.000,998.000,937.000000,57.818682,8927.000,991.888889,819.000,1195.000,47.000,-265.000,-13.316667,229917.00000,240294.892010,233781.880016,234664.590675,5244.954168,2.245627e+06,249514.161232,209100.513996,292020.462024,-10377.892010,-62103.462024,-2240.429784,2,0,0,0.0,0.0,1.0
59,2021-11-10,Household,XYZ,1082.000,252174.64699,1118.000,944.000,1252.000,1104.666667,154.432294,9968.000,1107.555556,944.000,1315.000,174.000,-78.000,-2.083333,277746.99300,237517.072000,283841.000000,266368.355000,25171.047423,2.313943e+06,257104.821444,222311.011000,305140.577002,40229.921000,15343.644000,3223.080651,2,0,0,1.0,0.0,1.0
60,2021-11-11,Beverages,ABC,1017.000,265286.00000,924.000,815.000,974.000,904.333333,81.303956,9675.000,967.500000,815.000,1256.000,109.000,87.000,-15.703030,238515.24300,199577.000000,246984.682000,228358.975000,25283.085510,2.388929e+06,238892.912902,199145.596010,277904.838000,38938.243000,39369.646990,-3508.481607,3,0,1,0.0,0.0,0.0
61,2021-11-11,Beverages,XYZ,1104.000,297145.00000,934.000,971.000,677.000,860.666667,160.132237,9077.000,907.700000,677.000,1086.000,-37.000,93.000,8.975758,259906.50800,263813.854000,201386.081000,241702.147667,34969.354609,2.400804e+06,240080.393102,187931.769020,289993.000000,-3907.346000,31346.289000,4853.431750,3,0,1,1.0,0.0,0.0
62,2021-11-11,Grocery,ABC,2745.732,519793.06400,2876.364,2489.046,2326.638,2564.016000,282.427060,25792.973,2579.297300,2155.128,3021.684,387.318,721.236,10.471121,522461.82600,497413.338990,438841.438010,486238.867667,42915.544141,4.932630e+06,493263.021997,397946.965024,582206.592985,25048.487010,124514.860976,2391.293853,3,0,1,0.0,1.0,0.0
63,2021-11-11,Grocery,XYZ,3559.718,627332.13701,3666.634,3608.112,2879.414,3384.720000,438.585022,33843.771,3384.377100,2879.414,3666.634,58.522,378.534,32.267800,635110.82600,622938.069000,498037.791000,585362.228667,75869.704518,5.766484e+06,576648.403802,491450.723000,661655.000010,12172.757000,60426.645000,9964.896158,3,0,1,1.0,1.0,0.0
64,2021-11-11,Household,ABC,1482.000,342064.00000,1160.000,930.000,883.000,991.000000,148.232925,10087.000,1008.700000,819.000,1195.000,230.000,341.000,-0.515152,304131.27800,229917.000000,240294.892010,258114.390003,40188.190384,2.549759e+06,254975.872909,209100.513996,304131.278000,74214.278000,95030.764004,1349.711981,3,0,1,0.0,0.0,1.0
65,2021-11-11,Household,XYZ,1120.000,259689.00000,1082.000,1118.000,944.000,1048.000000,91.847700,11050.000,1105.000000,944.000,1315.000,-36.000,-26.000,-2.909091,252174.64699,277746.993000,237517.072000,255812.903997,20360.238738,2.566118e+06,256611.803999,222311.011000,305140.577002,-25572.346010,2859.188990,2075.140049,3,0,1,1.0,0.0,1.0
66,2021-11-12,Beverages,ABC,1074.000,265109.69000,1017.000,924.000,815.000,918.666667,101.105555,10692.000,972.000000,815.000,1256.000,93.000,-239.000,-9.527273,265286.00000,238515.243000,199577.000000,234459.414333,33041.723319,2.654215e+06,241292.284456,199145.596010,277904.838000,26770.757000,9359.087000,-1431.675428,4,0,0,0.0,0.0,0.0
67,2021-11-12,Beverages,XYZ,920.000,243668.89700,1104.000,934.000,971.000,1003.000000,89.403579,10181.000,925.545455,677.000,1104.000,170.000,190.000,15.654545,297145.00000,259906.508000,263813.854000,273621.787333,20465.165252,2.697949e+06,245268.084638,187931.769020,297145.000000,37238.492000,59434.710000,6233.919581,4,0,0,1.0,0.0,0.0

In [14]:
#creating train and test set from preprocessed data
from utils.model_helpers import create_training_testing
train_dict, test_dict = create_training_testing(full_df_processed, test_date_start='2022-02-01')

In [15]:
#Setting training and testing data
train_X = train_dict['train_features']
train_y_sales = train_dict['train_net_sales']
train_y_item_qty = train_dict['train_item_qty']

test_X = test_dict['train_features']
test_y_sales = test_dict['train_net_sales']
test_y_item_qty = test_dict['train_item_qty']

In [16]:
train_X

,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,cumsum_item_qty,cummean_item_qty,expanding_min_item_qty,expanding_max_item_qty,diff_item_qty,diff_item_qty_7,trend_item_qty,lag_net_sales_1,lag_net_sales_2,lag_net_sales_3,rolling_mean_net_sales_3,rolling_std_net_sales_3,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,trend_net_sales,day_of_week,isWeekend,Is_Holiday,store_XYZ,item_dept_Grocery,item_dept_Household
48,974.000,937.000,884.000,931.666667,45.236416,7936.000,992.000000,837.000,1256.000,37.000,57.000,-8.809524,246984.68200,218668.693000,241963.000000,235872.125000,15108.702028,1.950837e+06,243854.610752,199145.596010,2.779048e+05,28315.989000,-7563.11701,-2629.784287,1,0,0,0.0,0.0,0.0
49,677.000,1043.000,1086.000,935.333333,224.753940,7172.000,896.500000,677.000,1086.000,-366.000,-102.000,7.404762,201386.08100,289993.000000,262426.080000,251268.387000,45344.978867,1.877084e+06,234635.446128,187931.769020,2.899930e+05,-88606.919000,13454.31198,4394.378891,1,0,0,1.0,0.0,0.0
50,2326.638,2646.820,2614.006,2529.154667,176.150333,20427.563,2553.445375,2155.128,3021.684,-320.182,-33.761,-8.663536,438841.43801,505512.742970,548660.900000,497671.693660,55328.022725,3.912755e+06,489094.381872,397946.965024,5.822066e+05,-66671.304960,1554.81399,428.854628,1,0,0,0.0,1.0,0.0
51,2879.414,3608.962,3625.864,3371.413333,426.167722,26569.025,3321.128125,2879.414,3625.864,-729.548,-107.646,2.449369,498037.79100,661655.000010,622856.562004,594183.117671,85494.283894,4.508435e+06,563554.392877,491450.723000,6.616550e+05,-163617.209010,6587.06800,6958.502798,1,0,0,1.0,1.0,0.0
52,883.000,998.000,1152.000,1011.000000,134.970367,7997.000,999.625000,819.000,1195.000,-115.000,-160.000,-12.392857,240294.89201,233781.880016,284326.000000,252800.924009,27495.047618,2.015710e+06,251963.806386,209100.513996,2.920205e+05,6513.011994,-7041.37400,-1100.918131,1,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1048.000,1255.000,1336.000,1213.000000,148.522726,92683.000,1018.494505,645.000,1761.000,-207.000,-230.000,0.967638,239877.76400,337437.000000,513057.000000,363457.254667,138435.956258,2.381819e+07,261738.336506,149946.090000,5.130570e+05,-97559.236000,-142750.23600,318.069279,0,0,0,1.0,0.0,0.0
548,2869.215,2587.436,2358.758,2605.136333,255.688411,236593.356,2599.926989,1779.437,7787.289,281.779,717.105,-1.440971,585570.03698,551861.601020,464186.114000,533872.584000,62659.538296,4.889516e+07,537309.461967,367440.183000,2.035445e+06,33708.435960,152000.05698,356.285934,0,0,0,0.0,1.0,0.0
549,4040.207,3539.002,3162.792,3580.667000,440.188880,306311.340,3366.058681,2396.285,5963.381,501.205,-144.120,-1.301238,756342.46200,667129.626000,583466.776000,668979.621333,86452.689747,5.545075e+07,609348.883327,443513.481000,1.161787e+06,89212.836000,-51907.11100,348.652326,0,0,0,1.0,1.0,0.0
550,1170.000,1236.000,1062.000,1156.000000,87.840765,94915.000,1043.021978,718.000,1606.000,-66.000,296.000,0.186909,323308.26797,349645.837880,290746.998990,321233.701613,29504.172160,2.512344e+07,276081.704621,181968.999000,4.518945e+05,-26337.569910,79452.26797,357.747163,0,0,0,0.0,0.0,1.0
551,1298.000,1205.000,1051.000,1184.666667,124.749081,100528.000,1104.703297,729.000,1646.000,93.000,-65.000,0.504396,312510.76200,311037.000000,255565.000000,293037.587333,32460.577547,2.434090e+07,267482.436836,187888.597090,3.829678e+05,1473.762000,-49849.23700,329.856488,0,0,0,1.0,0.0,1.0

In [17]:
test_X

,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,cumsum_item_qty,cummean_item_qty,expanding_min_item_qty,expanding_max_item_qty,diff_item_qty,diff_item_qty_7,trend_item_qty,lag_net_sales_1,lag_net_sales_2,lag_net_sales_3,rolling_mean_net_sales_3,rolling_std_net_sales_3,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,trend_net_sales,day_of_week,isWeekend,Is_Holiday,store_XYZ,item_dept_Grocery,item_dept_Household
552,887.000,923.000,966.000,925.333333,39.551654,102220.000,1111.086957,756.000,1748.000,-36.000,-105.000,1.492302,2.046880e+05,196153.950000,213541.730000,2.047945e+05,8694.380072,2.626751e+07,285516.456804,168349.26000,5.329314e+05,8534.001010,-104153.548990,339.156879,1,0,0,0.0,0.0,0.0
553,791.000,1048.000,1255.000,1031.333333,232.448561,93474.000,1016.021739,645.000,1761.000,-257.000,22.000,0.776891,1.791224e+05,239877.764000,337437.000000,2.521457e+05,79867.125785,2.399731e+07,260840.336816,149946.09000,5.130570e+05,-60755.398990,-1888.634990,249.873516,1,0,0,1.0,0.0,0.0
554,2603.874,2869.215,2587.436,2686.841667,158.153648,239197.230,2599.969891,1779.437,7787.289,-265.341,286.094,-1.391720,5.426439e+05,585570.036980,551861.601020,5.600252e+05,22597.472831,4.943780e+07,537367.445327,367440.18300,2.035445e+06,-42926.105980,64407.285000,348.533701,1,0,0,0.0,1.0,0.0
555,2996.909,4040.207,3539.002,3525.372667,521.782520,309308.249,3362.046185,2396.285,5963.381,-1043.298,434.602,-1.518133,5.630437e+05,756342.462000,667129.626000,6.621719e+05,96744.682254,5.601379e+07,608845.566486,443513.48100,1.161787e+06,-193298.728000,93324.735000,304.933422,1,0,0,1.0,1.0,0.0
556,1115.000,1170.000,1236.000,1173.666667,60.583276,96030.000,1043.804348,718.000,1606.000,-55.000,180.000,0.231355,3.148003e+05,323308.267970,349645.837880,3.292515e+05,18167.127914,2.543824e+07,276502.558593,181968.99900,4.518945e+05,-8507.997980,58967.269990,373.358801,1,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1751.000,1126.000,1317.000,1398.000000,320.276443,130083.000,1093.134454,645.000,1763.000,625.000,353.000,3.319506,5.310318e+05,269641.753000,396324.003000,3.989992e+05,130715.547043,3.410990e+07,286637.847235,149946.09000,5.813210e+05,261390.028980,221723.017980,1113.022053,0,0,0,1.0,0.0,0.0
716,3752.998,3486.773,4293.282,3844.351000,410.941869,325810.103,2737.900025,1779.437,7787.289,266.225,1051.860,4.788838,7.867650e+05,725599.851278,867613.506013,7.933261e+05,71233.808433,6.772851e+07,569147.160637,367440.18300,2.035445e+06,61165.191660,218564.059951,1408.523359,0,0,0,0.0,1.0,0.0
717,7599.386,5254.694,4246.995,5700.358333,1720.056359,426823.943,3586.755824,2396.285,7599.386,2344.692,2713.212,8.340774,1.596598e+06,985413.796996,805993.474911,1.129335e+06,414486.318350,7.845215e+07,659261.805316,443513.48100,1.596598e+06,611184.257052,660945.272053,2168.671155,0,0,0,1.0,1.0,0.0
718,1642.000,1508.000,1750.000,1633.333333,121.232559,131131.000,1101.941176,718.000,1750.000,134.000,532.000,2.419627,4.441275e+05,390277.067990,453002.517000,4.291357e+05,33943.864780,3.497245e+07,293886.126171,181968.99900,4.530025e+05,53850.418996,141382.266986,857.617268,0,0,0,0.0,0.0,1.0
719,2234.000,1989.000,1512.000,1911.666667,367.159820,139747.000,1174.344538,729.000,2234.000,245.000,418.000,3.045136,5.475594e+05,451254.565040,387162.135991,4.619920e+05,80735.919007,3.406667e+07,286274.519152,187888.59709,5.475594e+05,96304.812965,89009.469000,901.621013,0,0,0,1.0,0.0,1.0

### Modelling

In [18]:
from utils.SalesItemQtyModel import SalesItemQtyModel

In [19]:
#Need to define 2 models to predict sales and item_qty
from catboost import CatBoostRegressor

#params chosen from hp tuning
params = {'bagging_temperature': 0.5447824858171504,'border_count': 220.0,'depth': 5.0,'iterations': 800.0,
          'l2_leaf_reg': 13.06135266464145,'learning_rate': 0.15538685598864,'one_hot_max_size': 34.0,
          'random_strength': 4.115171860221108}

sales_model = CatBoostRegressor(**params, verbose = 0)
item_qty_model = CatBoostRegressor(**params, verbose = 0)

In [20]:
#Defining the model to train and predict both sales and item qty
sales_item_qty_model = SalesItemQtyModel(
    model_sales=sales_model,
    model_item_qty=item_qty_model
)

In [21]:
#Fitting the model
sales_item_qty_model.fit(X = train_X, y_sales = train_y_sales, y_item_qty = train_y_item_qty)

SalesItemQtyModel(model_item_qty=<catboost.core.CatBoostRegressor object at 0x7fa409b7bee0>,
                  model_sales=<catboost.core.CatBoostRegressor object at 0x7fa41ef52620>)

In [22]:
pd.DataFrame({'feature': train_X.columns,
'importance_sales': sales_item_qty_model.model_sales.feature_importances_}).sort_values(by='importance_sales', ascending=False)

                     feature  importance_sales
1             lag_item_qty_2         11.942230
13           lag_net_sales_2          7.391612
7     expanding_min_item_qty          6.652791
24               day_of_week          6.496555
15  rolling_mean_net_sales_3          5.252750
12           lag_net_sales_1          4.711818
0             lag_item_qty_1          4.520617
10           diff_item_qty_7          3.926765
9              diff_item_qty          3.892241
26                Is_Holiday          3.824454
22          diff_net_sales_7          3.569769
14           lag_net_sales_3          3.450729
28         item_dept_Grocery          3.296038
18         cummean_net_sales          3.285503
17          cumsum_net_sales          3.024121
8     expanding_max_item_qty          2.815952
21            diff_net_sales          2.805886
5            cumsum_item_qty          2.601653
23           trend_net_sales          2.594539
16   rolling_std_net_sales_3          2.529168
11            trend_item_qty          2.477856
4     rolling_std_item_qty_3          2.246740
3    rolling_mean_item_qty_3          1.425465
6           cummean_item_qty          1.276933
2             lag_item_qty_3          1.124077
20   expanding_max_net_sales          0.903470
19   expanding_min_net_sales          0.856784
25                 isWeekend          0.607971
27                 store_XYZ          0.394024
29       item_dept_Household          0.101487

In [23]:
pd.DataFrame({'feature': train_X.columns,
              'importance_item_qty': sales_item_qty_model.model_item_qty.feature_importances_}).sort_values(by='importance_item_qty', ascending=False)

                     feature  importance_item_qty
1             lag_item_qty_2            18.731403
7     expanding_min_item_qty            11.981378
15  rolling_mean_net_sales_3             7.550455
13           lag_net_sales_2             6.155495
0             lag_item_qty_1             5.175402
28         item_dept_Grocery             4.903153
24               day_of_week             4.687941
12           lag_net_sales_1             4.056845
18         cummean_net_sales             4.025548
8     expanding_max_item_qty             3.711336
14           lag_net_sales_3             2.651693
26                Is_Holiday             2.514887
9              diff_item_qty             2.488435
22          diff_net_sales_7             2.385113
11            trend_item_qty             2.330534
10           diff_item_qty_7             2.015349
16   rolling_std_net_sales_3             1.844711
4     rolling_std_item_qty_3             1.777464
17          cumsum_net_sales             1.704640
23           trend_net_sales             1.596118
5            cumsum_item_qty             1.340615
21            diff_net_sales             1.310139
25                 isWeekend             1.020215
3    rolling_mean_item_qty_3             0.939812
20   expanding_max_net_sales             0.780837
6           cummean_item_qty             0.718838
2             lag_item_qty_3             0.684790
19   expanding_min_net_sales             0.666967
27                 store_XYZ             0.185131
29       item_dept_Household             0.064758

In [24]:
from pickle import dump
with open("../models/final_model.pkl", "wb") as f:
    dump(sales_item_qty_model, f, protocol=5)

In [25]:
with open("../models/preprocessor.pkl", "wb") as f:
    dump(preprocessor, f, protocol=5)

### Model Testing

In [26]:
from utils.model_helpers import get_results_fitted
get_results_fitted(train_dict=train_dict, valid_dict=test_dict, sales_item_qty_model=sales_item_qty_model)

Train Set Results...

MAPE for predicting Sales: 0.01939328030728429
MAPE for predicting Item Qty: 0.019478182536633637

Test Set Results...

MAPE for predicting Sales: 0.20380453078401514
MAPE for predicting Item Qty: 0.17008697986474247

### Production Level Forecasting

In [27]:
#This is to get the predictions in a real scenario (by forecasting using only the training set)

In [28]:
train_df_gb = preprocessor._groupby_df(train_df)
test_df_gb = preprocessor._groupby_df(test_df)
depts_list = train_df_gb['item_dept'].unique()
stores_list = train_df_gb['store'].unique()

In [29]:
from utils.model_helpers import generate_forecasting_df
feb_forecasted_df = generate_forecasting_df(start_date='2022-02-01', end_date='2022-02-28', depts_list=depts_list,
                                            stores_list=stores_list,historical_df=train_df_gb, dual_model=sales_item_qty_model,
                                            preprocessor=preprocessor)

In [30]:
feb_forecasted_df

       date_id  item_dept store      net_sales     item_qty
0   2022-02-01  Beverages   ABC  305927.739037   992.540653
1   2022-02-01  Beverages   XYZ  219013.056069   871.673416
2   2022-02-01    Grocery   ABC  523650.074729  2520.072105
3   2022-02-01    Grocery   XYZ  611353.255042  3230.739556
4   2022-02-01  Household   ABC  288693.799355  1139.701694
..         ...        ...   ...            ...          ...
163 2022-02-28  Beverages   XYZ  277494.609264  1017.237133
164 2022-02-28    Grocery   ABC  545777.978506  2739.979835
165 2022-02-28    Grocery   XYZ  606018.699498  2970.728568
166 2022-02-28  Household   ABC  262693.918395  1272.948841
167 2022-02-28  Household   XYZ  253406.626522  1208.822640

[168 rows x 5 columns]

In [31]:
from utils.model_helpers import store_level_results
store_level_results(test_df=test_df_gb, pred_df=feb_forecasted_df)

Overall MAPE score for Sales: 0.18596392751077492
Overall MAPE score for Item Qty: 0.16948743082093515

For Store ABC, MAPE for predicting sales each day: 0.16954004643360163
For Store ABC, MAPE for predicting item qty each day: 0.14077969045410008

For Store ABC and Department Beverages, MAPE for predicting sales each day: 0.2143146315711926
For Store ABC and Department Beverages, MAPE for predicting item qty each day: 0.14978673454726182

For Store ABC and Department Grocery, MAPE for predicting sales each day: 0.15674847900671854
For Store ABC and Department Grocery, MAPE for predicting item qty each day: 0.15666679768873332

For Store ABC and Department Household, MAPE for predicting sales each day: 0.1466203806951752
For Store ABC and Department Household, MAPE for predicting item qty each day: 0.11367552841832972

For Store XYZ, MAPE for predicting sales each day: 0.20238780858794822
For Store XYZ, MAPE for predicting item qty each day: 0.19819517118777016

For Store XYZ and Department Beverages, MAPE for predicting sales each day: 0.2163420845700347
For Store XYZ and Department Beverages, MAPE for predicting item qty each day: 0.1872168974111436

For Store XYZ and Department Grocery, MAPE for predicting sales each day: 0.224666971689955
For Store XYZ and Department Grocery, MAPE for predicting item qty each day: 0.21364462889568564

For Store XYZ and Department Household, MAPE for predicting sales each day: 0.16265278605196926
For Store XYZ and Department Household, MAPE for predicting item qty each day: 0.16908001489408248

In [35]:
test_y_sales.shape, test_y_item_qty.shape

((168,), (168,))

In [36]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(test_y_sales, feb_forecasted_df['net_sales'])

0.18689088893084088

In [37]:
mean_absolute_percentage_error(test_y_item_qty, feb_forecasted_df['item_qty'])

0.16501176697587275

##### GroupBy Store: Monitoring Store Performance

In [29]:
feb_forecasted_df_stores = feb_forecasted_df.groupby(['date_id', 'store'])[['net_sales', 'item_qty']].sum().reset_index()

In [30]:
feb_forecasted_df.head(10)

     date_id  item_dept store      net_sales     item_qty
0 2022-02-01  Beverages   ABC  256286.176582  1007.133387
1 2022-02-01  Beverages   XYZ  222458.745834   898.002637
2 2022-02-01    Grocery   ABC  697563.119719  3086.222626
3 2022-02-01    Grocery   XYZ  683009.846470  3512.437157
4 2022-02-01  Household   ABC  274217.838980  1202.294195
5 2022-02-01  Household   XYZ  247067.375887  1160.606818
6 2022-02-02  Beverages   ABC  282756.963205  1101.433435
7 2022-02-02  Beverages   XYZ  271272.579183  1147.224903
8 2022-02-02    Grocery   ABC  601553.938929  2936.461767
9 2022-02-02    Grocery   XYZ  595255.987210  3270.000402

In [31]:
feb_forecasted_df_stores.head(10)

     date_id store     net_sales     item_qty
0 2022-02-01   ABC  1.228067e+06  5295.650208
1 2022-02-01   XYZ  1.152536e+06  5571.046611
2 2022-02-02   ABC  1.213581e+06  5306.568708
3 2022-02-02   XYZ  1.095721e+06  5377.643121
4 2022-02-03   ABC  1.480473e+06  6131.762084
5 2022-02-03   XYZ  1.288443e+06  6050.982359
6 2022-02-04   ABC  1.206545e+06  5660.627848
7 2022-02-04   XYZ  1.206220e+06  5957.669810
8 2022-02-05   ABC  1.248368e+06  5804.939319
9 2022-02-05   XYZ  1.342932e+06  6639.093907

In [32]:
test_df_stores = test_df.groupby(['date_id', 'store'])[['net_sales', 'item_qty']].sum().reset_index()
test_df_stores

      date_id store     net_sales   item_qty
0  2022-02-01   ABC  1.516543e+06   6517.128
1  2022-02-01   XYZ  1.389440e+06   6623.394
2  2022-02-02   ABC  1.444364e+06   6340.287
3  2022-02-02   XYZ  1.557627e+06   7188.348
4  2022-02-03   ABC  1.756087e+06   7445.199
5  2022-02-03   XYZ  1.642178e+06   7523.119
6  2022-02-04   ABC  1.388147e+06   5023.904
7  2022-02-04   XYZ  1.802251e+06   7743.322
8  2022-02-05   ABC  1.536005e+06   5849.920
9  2022-02-05   XYZ  1.705150e+06   7182.791
10 2022-02-06   ABC  1.171293e+06   5273.912
11 2022-02-06   XYZ  1.620877e+06   7571.546
12 2022-02-07   ABC  1.257475e+06   5819.820
13 2022-02-07   XYZ  1.357127e+06   6296.438
14 2022-02-08   ABC  1.367424e+06   5876.401
15 2022-02-08   XYZ  1.213958e+06   6024.556
16 2022-02-09   ABC  1.319227e+06   5564.455
17 2022-02-09   XYZ  1.513159e+06   6825.078
18 2022-02-10   ABC  1.568063e+06   6605.404
19 2022-02-10   XYZ  1.614895e+06   7398.919
20 2022-02-11   ABC  1.495914e+06   5878.584
21 2022-02-11   XYZ  1.337604e+06   6273.922
22 2022-02-12   ABC  1.442994e+06   5969.851
23 2022-02-12   XYZ  1.499955e+06   6992.716
24 2022-02-13   ABC  1.538670e+06   6704.842
25 2022-02-13   XYZ  1.976158e+06   9123.497
26 2022-02-14   ABC  1.286416e+06   5359.661
27 2022-02-14   XYZ  1.289554e+06   6041.161
28 2022-02-15   ABC  1.266166e+06   5592.889
29 2022-02-15   XYZ  1.313698e+06   6116.814
30 2022-02-16   ABC  1.068119e+06   4438.152
31 2022-02-16   XYZ  1.460556e+06   6729.830
32 2022-02-17   ABC  1.550470e+06   6248.486
33 2022-02-17   XYZ  1.382246e+06   6380.726
34 2022-02-18   ABC  1.625272e+06   6462.423
35 2022-02-18   XYZ  1.526683e+06   6297.481
36 2022-02-19   ABC  1.558195e+06   5724.705
37 2022-02-19   XYZ  1.789339e+06   7781.872
38 2022-02-20   ABC  1.155053e+06   5106.138
39 2022-02-20   XYZ  1.703511e+06   8100.174
40 2022-02-21   ABC  1.297326e+06   5267.392
41 2022-02-21   XYZ  1.264264e+06   6051.324
42 2022-02-22   ABC  1.332066e+06   5790.922
43 2022-02-22   XYZ  1.513955e+06   6553.740
44 2022-02-23   ABC  1.136188e+06   5217.331
45 2022-02-23   XYZ  1.357258e+06   6478.502
46 2022-02-24   ABC  1.625455e+06   6045.014
47 2022-02-24   XYZ  1.205289e+06   5873.349
48 2022-02-25   ABC  1.651908e+06   7401.282
49 2022-02-25   XYZ  1.589480e+06   7075.995
50 2022-02-26   ABC  1.462372e+06   6261.773
51 2022-02-26   XYZ  1.706310e+06   8369.694
52 2022-02-27   ABC  1.679051e+06   6929.998
53 2022-02-27   XYZ  2.675189e+06  11584.386
54 2022-02-28   ABC  1.508624e+06   6564.268
55 2022-02-28   XYZ  1.663999e+06   7810.414

In [33]:
feb_forecasted_df_stores

      date_id store     net_sales     item_qty
0  2022-02-01   ABC  1.228067e+06  5295.650208
1  2022-02-01   XYZ  1.152536e+06  5571.046611
2  2022-02-02   ABC  1.213581e+06  5306.568708
3  2022-02-02   XYZ  1.095721e+06  5377.643121
4  2022-02-03   ABC  1.480473e+06  6131.762084
5  2022-02-03   XYZ  1.288443e+06  6050.982359
6  2022-02-04   ABC  1.206545e+06  5660.627848
7  2022-02-04   XYZ  1.206220e+06  5957.669810
8  2022-02-05   ABC  1.248368e+06  5804.939319
9  2022-02-05   XYZ  1.342932e+06  6639.093907
10 2022-02-06   ABC  1.178523e+06  5652.744628
11 2022-02-06   XYZ  1.275821e+06  6329.454065
12 2022-02-07   ABC  1.248778e+06  5468.659786
13 2022-02-07   XYZ  1.098621e+06  5407.061817
14 2022-02-08   ABC  1.171436e+06  5507.452542
15 2022-02-08   XYZ  1.212171e+06  5690.194321
16 2022-02-09   ABC  1.305258e+06  5761.024433
17 2022-02-09   XYZ  1.128462e+06  5707.685859
18 2022-02-10   ABC  1.234707e+06  6001.671214
19 2022-02-10   XYZ  1.276524e+06  5977.666331
20 2022-02-11   ABC  1.340560e+06  6193.550595
21 2022-02-11   XYZ  1.204994e+06  6045.437082
22 2022-02-12   ABC  1.163605e+06  5677.741739
23 2022-02-12   XYZ  1.347089e+06  6681.764911
24 2022-02-13   ABC  1.194189e+06  5702.135790
25 2022-02-13   XYZ  1.220981e+06  6232.125886
26 2022-02-14   ABC  1.107781e+06  5019.582356
27 2022-02-14   XYZ  1.123717e+06  5497.881783
28 2022-02-15   ABC  1.245482e+06  5638.795875
29 2022-02-15   XYZ  1.201456e+06  5610.167903
30 2022-02-16   ABC  1.191000e+06  5473.569698
31 2022-02-16   XYZ  1.134392e+06  5565.240942
32 2022-02-17   ABC  1.362084e+06  6165.939713
33 2022-02-17   XYZ  1.258921e+06  5945.910187
34 2022-02-18   ABC  1.164491e+06  5949.617758
35 2022-02-18   XYZ  1.232343e+06  6073.229490
36 2022-02-19   ABC  1.226877e+06  5800.228005
37 2022-02-19   XYZ  1.375318e+06  6784.219106
38 2022-02-20   ABC  1.133896e+06  5715.180460
39 2022-02-20   XYZ  1.219303e+06  6263.410867
40 2022-02-21   ABC  1.265080e+06  5752.736073
41 2022-02-21   XYZ  1.167658e+06  5723.629657
42 2022-02-22   ABC  1.108854e+06  5361.080551
43 2022-02-22   XYZ  1.169502e+06  5637.483464
44 2022-02-23   ABC  1.280155e+06  5602.792699
45 2022-02-23   XYZ  1.174553e+06  5601.589296
46 2022-02-24   ABC  1.201491e+06  5819.453815
47 2022-02-24   XYZ  1.187648e+06  5832.223626
48 2022-02-25   ABC  1.411410e+06  6366.844416
49 2022-02-25   XYZ  1.213535e+06  6107.445029
50 2022-02-26   ABC  1.155465e+06  5704.901853
51 2022-02-26   XYZ  1.264564e+06  6491.024656
52 2022-02-27   ABC  1.195538e+06  5759.018661
53 2022-02-27   XYZ  1.272746e+06  6542.347572
54 2022-02-28   ABC  1.119192e+06  5116.926453
55 2022-02-28   XYZ  1.142101e+06  5529.705665

In [34]:
mean_absolute_percentage_error(test_df_stores['net_sales'], feb_forecasted_df_stores['net_sales'])

0.1752244618107001

In [35]:
mean_absolute_percentage_error(test_df_stores['item_qty'], feb_forecasted_df_stores['item_qty'])

0.12352416383621234

In [36]:
test_df_stores[test_df_stores['store'] == 'ABC']

      date_id store     net_sales  item_qty
0  2022-02-01   ABC  1.516543e+06  6517.128
2  2022-02-02   ABC  1.444364e+06  6340.287
4  2022-02-03   ABC  1.756087e+06  7445.199
6  2022-02-04   ABC  1.388147e+06  5023.904
8  2022-02-05   ABC  1.536005e+06  5849.920
10 2022-02-06   ABC  1.171293e+06  5273.912
12 2022-02-07   ABC  1.257475e+06  5819.820
14 2022-02-08   ABC  1.367424e+06  5876.401
16 2022-02-09   ABC  1.319227e+06  5564.455
18 2022-02-10   ABC  1.568063e+06  6605.404
20 2022-02-11   ABC  1.495914e+06  5878.584
22 2022-02-12   ABC  1.442994e+06  5969.851
24 2022-02-13   ABC  1.538670e+06  6704.842
26 2022-02-14   ABC  1.286416e+06  5359.661
28 2022-02-15   ABC  1.266166e+06  5592.889
30 2022-02-16   ABC  1.068119e+06  4438.152
32 2022-02-17   ABC  1.550470e+06  6248.486
34 2022-02-18   ABC  1.625272e+06  6462.423
36 2022-02-19   ABC  1.558195e+06  5724.705
38 2022-02-20   ABC  1.155053e+06  5106.138
40 2022-02-21   ABC  1.297326e+06  5267.392
42 2022-02-22   ABC  1.332066e+06  5790.922
44 2022-02-23   ABC  1.136188e+06  5217.331
46 2022-02-24   ABC  1.625455e+06  6045.014
48 2022-02-25   ABC  1.651908e+06  7401.282
50 2022-02-26   ABC  1.462372e+06  6261.773
52 2022-02-27   ABC  1.679051e+06  6929.998
54 2022-02-28   ABC  1.508624e+06  6564.268

In [37]:
feb_forecasted_df_stores[feb_forecasted_df_stores['store'] == 'ABC']

      date_id store     net_sales     item_qty
0  2022-02-01   ABC  1.228067e+06  5295.650208
2  2022-02-02   ABC  1.213581e+06  5306.568708
4  2022-02-03   ABC  1.480473e+06  6131.762084
6  2022-02-04   ABC  1.206545e+06  5660.627848
8  2022-02-05   ABC  1.248368e+06  5804.939319
10 2022-02-06   ABC  1.178523e+06  5652.744628
12 2022-02-07   ABC  1.248778e+06  5468.659786
14 2022-02-08   ABC  1.171436e+06  5507.452542
16 2022-02-09   ABC  1.305258e+06  5761.024433
18 2022-02-10   ABC  1.234707e+06  6001.671214
20 2022-02-11   ABC  1.340560e+06  6193.550595
22 2022-02-12   ABC  1.163605e+06  5677.741739
24 2022-02-13   ABC  1.194189e+06  5702.135790
26 2022-02-14   ABC  1.107781e+06  5019.582356
28 2022-02-15   ABC  1.245482e+06  5638.795875
30 2022-02-16   ABC  1.191000e+06  5473.569698
32 2022-02-17   ABC  1.362084e+06  6165.939713
34 2022-02-18   ABC  1.164491e+06  5949.617758
36 2022-02-19   ABC  1.226877e+06  5800.228005
38 2022-02-20   ABC  1.133896e+06  5715.180460
40 2022-02-21   ABC  1.265080e+06  5752.736073
42 2022-02-22   ABC  1.108854e+06  5361.080551
44 2022-02-23   ABC  1.280155e+06  5602.792699
46 2022-02-24   ABC  1.201491e+06  5819.453815
48 2022-02-25   ABC  1.411410e+06  6366.844416
50 2022-02-26   ABC  1.155465e+06  5704.901853
52 2022-02-27   ABC  1.195538e+06  5759.018661
54 2022-02-28   ABC  1.119192e+06  5116.926453