In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from pathlib import Path

In [3]:
parent_dir = Path.cwd().parents[0]
sys.path.append(os.path.abspath(parent_dir))

In [4]:
from utils.DataPreprocessPipeline import DataPreprocessPipeline

preprocessor = DataPreprocessPipeline(num_lags=3, rolling_window_size=3)

In [5]:
train_df = pd.read_csv('../../data/training_data.csv')

In [6]:
train_df_gb = train_df.groupby(['date_id', 'item_dept', 'store'])[['item_qty', 'net_sales']].sum().reset_index()
train_df_gb

       date_id  item_dept store  item_qty      net_sales
0     1/1/2022  Beverages   ABC  1137.000  199615.300000
1     1/1/2022  Beverages   XYZ   894.000  179595.350000
2     1/1/2022    Grocery   ABC  2129.540  410870.334000
3     1/1/2022    Grocery   XYZ  3024.884  559652.290000
4     1/1/2022  Household   ABC   718.000  213757.000000
..         ...        ...   ...       ...            ...
547  12/9/2021  Beverages   XYZ  1104.000  255970.701020
548  12/9/2021    Grocery   ABC  2315.716  493643.693020
549  12/9/2021    Grocery   XYZ  3219.296  588795.674994
550  12/9/2021  Household   ABC  1006.000  252415.845990
551  12/9/2021  Household   XYZ  1050.000  250085.121000

[552 rows x 5 columns]

In [7]:
train_df_preprocessed = preprocessor.transform(train_df)
train_df_preprocessed.head()

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,...,rolling_std_net_sales_3,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,day_of_week,isWeekend,Is_Holiday
42,2021-11-08,Beverages,ABC,974.000,246984.68200,937.000,884.000,991.000,937.333333,53.500779,...,18717.981669,1.703852e+06,243407.457717,199145.596010,277904.838000,-23294.307000,57.000,0,0,0
43,2021-11-08,Beverages,XYZ,677.000,201386.08100,1043.000,1086.000,910.000,1013.000000,91.755109,...,36459.734951,1.675697e+06,239385.355431,187931.769020,289993.000000,27566.920000,-102.000,0,0,0
44,2021-11-08,Grocery,ABC,2326.638,438841.43801,2646.820,2614.006,2654.582,2638.469333,21.538411,...,34985.300857,3.473914e+06,496273.373853,397946.965024,582206.592985,-43148.157030,-33.761,0,0,0
45,2021-11-08,Grocery,XYZ,2879.414,498037.79100,3608.962,3625.864,3287.828,3507.551333,190.473559,...,52868.205452,4.010397e+06,572913.907431,491450.723000,661655.000010,38798.438006,-107.646,0,0,0
46,2021-11-08,Household,ABC,883.000,240294.89201,998.000,1152.000,986.000,1045.333333,92.570694,...,25552.215188,1.775416e+06,253630.794154,209100.513996,292020.462024,-50544.119984,-160.000,0,0,0

In [8]:
train_df_preprocessed.columns

Index(['date_id', 'item_dept', 'store', 'item_qty', 'net_sales',
       'lag_item_qty_1', 'lag_item_qty_2', 'lag_item_qty_3',
       'rolling_mean_item_qty_3', 'rolling_std_item_qty_3', 'cumsum_item_qty',
       'cummean_item_qty', 'expanding_min_item_qty', 'expanding_max_item_qty',
       'diff_item_qty', 'diff_item_qty_7', 'lag_net_sales_1',
       'lag_net_sales_2', 'lag_net_sales_3', 'rolling_mean_net_sales_3',
       'rolling_std_net_sales_3', 'cumsum_net_sales', 'cummean_net_sales',
       'expanding_min_net_sales', 'expanding_max_net_sales', 'diff_net_sales',
       'diff_net_sales_7', 'day_of_week', 'isWeekend', 'Is_Holiday'],
      dtype='object')

In [9]:
from utils.model_helpers import create_X_and_targets_sales_qty, generate_forecasting_df
X, y_sales, y_item_qty = create_X_and_targets_sales_qty(train_df_preprocessed)

In [10]:
from utils.SalesItemQtyModel import SalesItemQtyModel
sales_item_qty_model = SalesItemQtyModel()

In [11]:
X.columns

Index(['lag_item_qty_1', 'lag_item_qty_2', 'lag_item_qty_3',
       'rolling_mean_item_qty_3', 'rolling_std_item_qty_3', 'cumsum_item_qty',
       'cummean_item_qty', 'expanding_min_item_qty', 'expanding_max_item_qty',
       'diff_item_qty', 'diff_item_qty_7', 'lag_net_sales_1',
       'lag_net_sales_2', 'lag_net_sales_3', 'rolling_mean_net_sales_3',
       'rolling_std_net_sales_3', 'cumsum_net_sales', 'cummean_net_sales',
       'expanding_min_net_sales', 'expanding_max_net_sales', 'diff_net_sales',
       'diff_net_sales_7', 'day_of_week', 'isWeekend', 'Is_Holiday'],
      dtype='object')

In [12]:
sales_item_qty_model.fit(X=X, y_sales=y_sales, y_item_qty=y_item_qty)

SalesItemQtyModel()

In [13]:
generate_forecasting_df(start_date='2022-02-01', end_date='2022-02-28', depts_list=train_df_gb['item_dept'].unique(),
                        stores_list=train_df_gb['store'].unique(), historical_df=train_df_gb,
                        dual_model=sales_item_qty_model, preprocessor=preprocessor)

       date_id  item_dept store      net_sales     item_qty
0   2022-02-01  Beverages   ABC  148290.310359   603.216433
1   2022-02-01  Beverages   XYZ  110461.512193   447.655699
2   2022-02-01    Grocery   ABC  162918.708720  1069.535819
3   2022-02-01    Grocery   XYZ  122342.196362  1332.420339
4   2022-02-01  Household   ABC  125132.827043   378.458050
..         ...        ...   ...            ...          ...
163 2022-02-28  Beverages   XYZ  106641.774179   398.169779
164 2022-02-28    Grocery   ABC  305157.568520  1562.803274
165 2022-02-28    Grocery   XYZ  406276.324933  2310.732320
166 2022-02-28  Household   ABC  146559.298814   476.337123
167 2022-02-28  Household   XYZ  144717.473108   534.028309

[168 rows x 5 columns]

In [10]:
sales_item_qty_model.score_sales(X, y_sales)

0.140231419119676

In [10]:
sales_item_qty_model

Sales_Item_Qty_Model()

In [7]:
a, b, c = dp_pipeline.get_processed_data()
a

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0       11/1/2021    Grocery       1.0    160.000   XYZ   16620    1475459.0
1       11/1/2021    Grocery       2.0    480.000   XYZ   32365    1475459.0
2       11/1/2021    Grocery       1.0    127.000   XYZ   31349    1475459.0
3       11/1/2021  Household       2.0    110.000   XYZ    1266    1475475.0
4       11/1/2021  Household       1.0    150.000   XYZ  114920    1475475.0
...           ...        ...       ...        ...   ...     ...          ...
614093  12/2/2021  Household       1.0    152.212   ABC  122245    5808307.0
614094  12/2/2021    Grocery       1.0     97.720   ABC     925    5808307.0
614095  12/2/2021  Beverages       1.0    381.107   ABC   11379    5808307.0
614096  12/3/2021  Household       1.0    115.000   ABC  112999    5808318.0
614097  12/3/2021    Grocery       1.0     50.000   ABC  114705          NaN

[614098 rows x 7 columns]

In [8]:
from utils.model_class import ModelHelpers
model_helper = ModelHelpers()

In [10]:
results = model_helper.finalized_train_predict(c)

      date_id  item_dept store  item_qty     net_sales  lag_item_qty_1  \
42 2021-11-08  Beverages   ABC   974.000  246984.68200         937.000
43 2021-11-08  Beverages   XYZ   677.000  201386.08100        1043.000
44 2021-11-08    Grocery   ABC  2326.638  438841.43801        2646.820
45 2021-11-08    Grocery   XYZ  2879.414  498037.79100        3608.962
46 2021-11-08  Household   ABC   883.000  240294.89201         998.000

    rolling_mean_item_qty_2  rolling_std_item_qty_2  cumsum_item_qty  \
42                  910.500               37.476659         6962.000
43                 1064.500               30.405592         6495.000
44                 2630.413               23.203002        18100.925
45                 3617.413               11.951519        23689.611
46                 1075.000              108.894444         7114.000

    cummean_item_qty  ...  rolling_std_net_sales_2  cumsum_net_sales  \
42        994.571429  ...             16471.562443      1.703852e+06
43        927.857143  ...             19492.756068      1.675697e+06
44       2585.846429  ...             30510.354432      3.473914e+06
45       3384.230143  ...             27434.638613      4.010397e+06
46       1016.285714  ...             35740.089990      1.775416e+06

    cummean_net_sales  expanding_min_net_sales  expanding_max_net_sales  \
42      243407.457717            199145.596010            277904.838000
43      239385.355431            187931.769020            289993.000000
44      496273.373853            397946.965024            582206.592985
45      572913.907431            491450.723000            661655.000010
46      253630.794154            209100.513996            292020.462024

    diff_net_sales  diff_net_sales_7  day_of_week  isWeekend  Is_Holiday
42   -23294.307000            57.000            0          0           0
43    27566.920000          -102.000            0          0           0
44   -43148.157030           -33.761            0          0           0
45    38798.438006          -107.646            0          0           0
46   -50544.119984          -160.000            0          0           0

[5 rows x 26 columns]
MAPE scores for using real data for daily forecast
MAPE sales: 0.18843122367822746
MAPE item qty: 0.17084984514720902

AttributeError: 'NoneType' object has no attribute 'tail'

In [10]:
train

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0       11/1/2021    Grocery       1.0    160.000   XYZ   16620    1475459.0
1       11/1/2021    Grocery       2.0    480.000   XYZ   32365    1475459.0
2       11/1/2021    Grocery       1.0    127.000   XYZ   31349    1475459.0
3       11/1/2021  Household       2.0    110.000   XYZ    1266    1475475.0
4       11/1/2021  Household       1.0    150.000   XYZ  114920    1475475.0
...           ...        ...       ...        ...   ...     ...          ...
614093  12/2/2021  Household       1.0    152.212   ABC  122245    5808307.0
614094  12/2/2021    Grocery       1.0     97.720   ABC     925    5808307.0
614095  12/2/2021  Beverages       1.0    381.107   ABC   11379    5808307.0
614096  12/3/2021  Household       1.0    115.000   ABC  112999    5808318.0
614097  12/3/2021    Grocery       1.0     50.000   ABC  114705          NaN

[614098 rows x 7 columns]

In [11]:
test

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0        2/1/2022  Beverages       2.0      480.0   XYZ  112360    1495518.0
1        2/1/2022  Beverages       1.0      202.0   XYZ  111195    1495518.0
2        2/1/2022  Household       1.0      165.0   XYZ   41212    1495572.0
3        2/1/2022  Household       2.0      480.0   XYZ  123476    1495572.0
4        2/1/2022    Grocery       2.0      660.0   XYZ  106668    1495572.0
...           ...        ...       ...        ...   ...     ...          ...
247619  2/28/2022    Grocery       5.0      500.0   XYZ  114873          NaN
247620  2/28/2022  Household       4.0     2361.0   XYZ  117497          NaN
247621  2/28/2022    Grocery       2.0      480.0   XYZ   77298          NaN
247622  2/28/2022  Beverages       1.0     1900.0   XYZ    1444          NaN
247623  2/28/2022    Grocery       1.0     1060.0   XYZ   16220          NaN

[247624 rows x 7 columns]

In [12]:
full

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,rolling_mean_item_qty_2,rolling_std_item_qty_2,cumsum_item_qty,cummean_item_qty,...,rolling_std_net_sales_2,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,day_of_week,isWeekend,Is_Holiday
42,2021-11-08,Beverages,ABC,974.000,246984.682000,937.000,910.5000,37.476659,6962.000,994.571429,...,16471.562443,1.703852e+06,243407.457717,199145.596010,2.779048e+05,-23294.307000,57.000,0,0,0
43,2021-11-08,Beverages,XYZ,677.000,201386.081000,1043.000,1064.5000,30.405592,6495.000,927.857143,...,19492.756068,1.675697e+06,239385.355431,187931.769020,2.899930e+05,27566.920000,-102.000,0,0,0
44,2021-11-08,Grocery,ABC,2326.638,438841.438010,2646.820,2630.4130,23.203002,18100.925,2585.846429,...,30510.354432,3.473914e+06,496273.373853,397946.965024,5.822066e+05,-43148.157030,-33.761,0,0,0
45,2021-11-08,Grocery,XYZ,2879.414,498037.791000,3608.962,3617.4130,11.951519,23689.611,3384.230143,...,27434.638613,4.010397e+06,572913.907431,491450.723000,6.616550e+05,38798.438006,-107.646,0,0,0
46,2021-11-08,Household,ABC,883.000,240294.892010,998.000,1075.0000,108.894444,7114.000,1016.285714,...,35740.089990,1.775416e+06,253630.794154,209100.513996,2.920205e+05,-50544.119984,-160.000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2022-02-28,Beverages,XYZ,1256.000,301840.902984,1751.000,1438.5000,441.941738,130083.000,1093.134454,...,184830.662026,3.410990e+07,286637.847235,149946.090000,5.813210e+05,261390.028980,114.000,0,0,0
716,2022-02-28,Grocery,ABC,3548.268,700557.436867,3752.998,3619.8855,188.249503,325810.103,2737.900025,...,43250.321795,6.772851e+07,569147.160637,367440.183000,2.035445e+06,61165.191660,868.876,0,0,0
717,2022-02-28,Grocery,XYZ,4854.414,950084.212008,7599.386,6427.0400,1657.947613,426823.943,3586.755824,...,432172.532716,7.845215e+07,659261.805316,443513.481000,1.596598e+06,611184.257052,1239.090,0,0,0
718,2022-02-28,Household,ABC,1520.000,394323.614974,1642.000,1575.0000,94.752309,131131.000,1101.941176,...,38077.996442,3.497245e+07,293886.126171,181968.999000,4.530025e+05,53850.418996,275.000,0,0,0
719,2022-02-28,Household,XYZ,1700.000,412074.053949,2234.000,2111.5000,173.241161,139747.000,1174.344538,...,68097.786308,3.406667e+07,286274.519152,187888.597090,5.475594e+05,96304.812965,406.000,0,0,0

In [3]:
train_df = pd.read_csv('../../data/training_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

In [4]:
from utils.data_preprocess import merge_and_preprocess
full_df = merge_and_preprocess(training=train_df, num_lags=3, rolling_window_size=3)

In [15]:
from utils.model_helpers import create_training_testing
train, test = create_training_testing(df = full_df, test_date_start='2022-01-15')

In [16]:
train.keys()

dict_keys(['train_features', 'train_net_sales', 'train_item_qty'])

In [17]:
test['train_features']

,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,lag_net_sales_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,rolling_mean_net_sales_3,rolling_std_net_sales_3,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
450,866.000,1414.000,950.000,192949.53800,333398.25000,196014.50000,1076.666667,295.142903,240787.429333,80217.962929,...,1,0,756.000,1748.000,168349.26000,5.329314e+05,-548.000,-408.000,-140448.71200,-408.000
451,1078.000,855.000,837.000,270562.06000,181156.09000,178756.44796,923.333333,134.247284,210158.199320,52325.035683,...,1,0,645.000,1761.000,149946.09000,4.503627e+05,223.000,-284.000,89405.97000,-284.000
452,2187.497,2705.301,2204.186,421828.53600,577075.99500,432843.68600,2365.661333,294.254920,477249.405667,86627.618782,...,1,0,1884.134,7787.289,371493.67100,2.035445e+06,-517.804,-957.375,-155247.45900,-957.375
453,2859.478,3058.627,2899.544,504860.73800,554760.78400,509834.51500,2939.216333,105.335187,523152.012333,27486.732238,...,1,0,2396.285,5963.381,443513.48100,1.161787e+06,-199.149,-290.475,-49900.04600,-290.475
454,799.000,1146.000,949.000,194229.00000,319568.00000,272431.00000,964.666667,174.029691,262076.000000,63307.864827,...,1,0,718.000,1606.000,194229.00000,4.518945e+05,-347.000,-292.000,-125339.00000,-292.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,1048.000,1255.000,1336.000,239877.76400,337437.00000,513057.00000,1213.000000,148.522726,363457.254667,138435.956258,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,-207.000,22.000,-97559.23600,22.000
548,2869.215,2587.436,2358.758,585570.03698,551861.60102,464186.11400,2605.136333,255.688411,533872.584000,62659.538296,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,281.779,286.094,33708.43596,286.094
549,4040.207,3539.002,3162.792,756342.46200,667129.62600,583466.77600,3580.667000,440.188880,668979.621333,86452.689747,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,501.205,434.602,89212.83600,434.602
550,1170.000,1236.000,1062.000,323308.26797,349645.83788,290746.99899,1156.000000,87.840765,321233.701613,29504.172160,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-66.000,180.000,-26337.56991,180.000
551,1298.000,1205.000,1051.000,312510.76200,311037.00000,255565.00000,1184.666667,124.749081,293037.587333,32460.577547,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,93.000,195.000,1473.76200,195.000

In [13]:
train['train_item_qty']

42      974.000
43      677.000
44     2326.638
45     2879.414
46      883.000
         ...
547     791.000
548    2603.874
549    2996.909
550    1115.000
551    1141.000
Name: item_qty, Length: 510, dtype: float64

In [10]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 510 entries, 42 to 551
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_id                   510 non-null    datetime64[ns]
 1   item_dept                 510 non-null    object
 2   store                     510 non-null    object
 3   item_qty                  510 non-null    float64
 4   net_sales                 510 non-null    float64
 5   lag_item_qty_1            510 non-null    float64
 6   lag_item_qty_2            510 non-null    float64
 7   lag_item_qty_3            510 non-null    float64
 8   lag_net_sales_1           510 non-null    float64
 9   lag_net_sales_2           510 non-null    float64
 10  lag_net_sales_3           510 non-null    float64
 11  rolling_mean_item_qty_3   510 non-null    float64
 12  rolling_std_item_qty_3    510 non-null    float64
 13  rolling_mean_net_sales_3  510 non-null    float64
 14  rolling_std_net_sales_3   510 non-null    float64
 15  cumsum_item_qty           510 non-null    float64
 16  cummean_item_qty          510 non-null    float64
 17  cumsum_net_sales          510 non-null    float64
 18  cummean_net_sales         510 non-null    float64
 19  day_of_week               510 non-null    int32
 20  isWeekend                 510 non-null    int64
 21  Is_Holiday                510 non-null    int64
 22  expanding_min_item_qty    510 non-null    float64
 23  expanding_max_item_qty    510 non-null    float64
 24  expanding_min_net_sales   510 non-null    float64
 25  expanding_max_net_sales   510 non-null    float64
 26  diff_item_qty             510 non-null    float64
 27  diff_item_qty_7           510 non-null    float64
 28  diff_net_sales            510 non-null    float64
 29  diff_net_sales_7          510 non-null    float64
dtypes: datetime64[ns](1), float64(24), int32(1), int64(2), object(2)
memory usage: 121.5+ KB

In [8]:
full_df.tail(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
532,2022-01-28,Household,ABC,1062.000,290746.99899,991.000,1155.000,1128.000,261352.99999,319838.00000,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-164.000,107.000,-58485.00001,107.000
533,2022-01-28,Household,XYZ,1051.000,255565.00000,1091.000,1103.000,1187.000,266484.02900,289925.04000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,-12.000,230.000,-23441.01100,230.000
534,2022-01-29,Beverages,ABC,966.000,213541.73000,1319.000,1253.000,1095.000,397226.50000,395367.00000,...,1,0,756.000,1748.000,168349.26000,5.329314e+05,66.000,-291.000,1859.50000,-291.000
535,2022-01-29,Beverages,XYZ,1255.000,337437.00000,1336.000,1170.000,1123.000,513057.00000,384973.00000,...,1,0,645.000,1761.000,149946.09000,5.130570e+05,166.000,331.000,128084.00000,331.000
536,2022-01-29,Grocery,ABC,2587.436,551861.60102,2358.758,2602.145,2612.746,464186.11400,557922.71500,...,1,0,1779.437,7787.289,367440.18300,2.035445e+06,-243.387,320.002,-93736.60100,320.002
537,2022-01-29,Grocery,XYZ,3539.002,667129.62600,3162.792,3012.134,2913.409,583466.77600,556695.96400,...,1,0,2396.285,5963.381,443513.48100,1.161787e+06,150.658,176.971,26770.81200,176.971
538,2022-01-29,Household,ABC,1236.000,349645.83788,1062.000,991.000,1155.000,290746.99899,261352.99999,...,1,0,718.000,1606.000,181968.99900,4.518945e+05,71.000,46.000,29393.99900,46.000
539,2022-01-29,Household,XYZ,1205.000,311037.00000,1051.000,1091.000,1103.000,255565.00000,266484.02900,...,1,0,729.000,1646.000,187888.59709,3.829678e+05,-40.000,80.000,-10919.02900,80.000
540,2022-01-30,Beverages,ABC,923.000,196153.95000,966.000,1319.000,1253.000,213541.73000,397226.50000,...,1,0,756.000,1748.000,168349.26000,5.329314e+05,-353.000,55.000,-183684.77000,55.000
541,2022-01-30,Beverages,XYZ,1048.000,239877.76400,1255.000,1336.000,1170.000,337437.00000,513057.00000,...,1,0,645.000,1761.000,149946.09000,5.130570e+05,-81.000,-230.000,-175620.00000,-230.000
542,2022-01-30,Grocery,ABC,2869.215,585570.03698,2587.436,2358.758,2602.145,551861.60102,464186.11400,...,1,0,1779.437,7787.289,367440.18300,2.035445e+06,228.678,717.105,87675.48702,717.105
543,2022-01-30,Grocery,XYZ,4040.207,756342.46200,3539.002,3162.792,3012.134,667129.62600,583466.77600,...,1,0,2396.285,5963.381,443513.48100,1.161787e+06,376.210,-144.120,83662.85000,-144.120
544,2022-01-30,Household,ABC,1170.000,323308.26797,1236.000,1062.000,991.000,349645.83788,290746.99899,...,1,0,718.000,1606.000,181968.99900,4.518945e+05,174.000,296.000,58898.83889,296.000
545,2022-01-30,Household,XYZ,1298.000,312510.76200,1205.000,1051.000,1091.000,311037.00000,255565.00000,...,1,0,729.000,1646.000,187888.59709,3.829678e+05,154.000,-65.000,55472.00000,-65.000
546,2022-01-31,Beverages,ABC,887.000,204687.95101,923.000,966.000,1319.000,196153.95000,213541.73000,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-43.000,-105.000,-17387.78000,-105.000
547,2022-01-31,Beverages,XYZ,791.000,179122.36501,1048.000,1255.000,1336.000,239877.76400,337437.00000,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,-207.000,22.000,-97559.23600,22.000
548,2022-01-31,Grocery,ABC,2603.874,542643.93100,2869.215,2587.436,2358.758,585570.03698,551861.60102,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,281.779,286.094,33708.43596,286.094
549,2022-01-31,Grocery,XYZ,2996.909,563043.73400,4040.207,3539.002,3162.792,756342.46200,667129.62600,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,501.205,434.602,89212.83600,434.602
550,2022-01-31,Household,ABC,1115.000,314800.26999,1170.000,1236.000,1062.000,323308.26797,349645.83788,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-66.000,180.000,-26337.56991,180.000
551,2022-01-31,Household,XYZ,1141.000,269010.67500,1298.000,1205.000,1051.000,312510.76200,311037.00000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,93.000,195.000,1473.76200,195.000

In [3]:
train_df.head(20)

      date_id  item_dept  item_qty  net_sales store    item  invoice_num
0   11/1/2021    Grocery     1.000    160.000   XYZ   16620    1475459.0
1   11/1/2021    Grocery     2.000    480.000   XYZ   32365    1475459.0
2   11/1/2021    Grocery     1.000    127.000   XYZ   31349    1475459.0
3   11/1/2021  Household     2.000    110.000   XYZ    1266    1475475.0
4   11/1/2021  Household     1.000    150.000   XYZ  114920    1475475.0
5   11/1/2021  Household     1.000    745.000   XYZ  115596    1475475.0
6   11/1/2021    Grocery     1.000    175.000   XYZ   98654    1475475.0
7   11/1/2021    Grocery     3.000    120.000   XYZ    8373    1475475.0
8   11/1/2021    Grocery     1.000    194.000   XYZ  106669    1475521.0
9   11/1/2021  Household     1.000    137.000   XYZ   75008    1475521.0
10  11/1/2021    Grocery     1.000     60.000   XYZ   16312    1475521.0
11  11/1/2021    Grocery     1.110    138.750   XYZ   49898    1475521.0
12  11/1/2021    Grocery     3.056    302.544   XYZ    3235    1475521.0
13  11/1/2021    Grocery     2.000    380.000   XYZ    6427    1475543.0
14  11/1/2021    Grocery     2.000    520.000   XYZ   16355    1475543.0
15  11/1/2021  Household     1.000    260.000   XYZ  101231    1475549.0
16  11/1/2021  Household     1.000    250.000   XYZ   10081    1475549.0
17  11/1/2021    Grocery     1.000     50.000   XYZ  119318    1475593.0
18  11/2/2021    Grocery     2.000    250.000   XYZ    9609    1475667.0
19  11/2/2021    Grocery     0.604     59.796   XYZ  120641    1475757.0

In [4]:
test_df.head(20)

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0   2/1/2022  Beverages     2.000    480.000   XYZ  112360    1495518.0
1   2/1/2022  Beverages     1.000    202.000   XYZ  111195    1495518.0
2   2/1/2022  Household     1.000    165.000   XYZ   41212    1495572.0
3   2/1/2022  Household     2.000    480.000   XYZ  123476    1495572.0
4   2/1/2022    Grocery     2.000    660.000   XYZ  106668    1495572.0
5   2/1/2022  Household     2.000    330.000   XYZ   45968    1495572.0
6   2/1/2022  Household     1.000    420.000   XYZ  122126    1495572.0
7   2/1/2022  Beverages     2.000    640.000   XYZ  112362    1495572.0
8   2/1/2022    Grocery     3.000    420.000   XYZ  111530    1495580.0
9   2/1/2022  Household     1.000    530.000   XYZ  104754    1495580.0
10  2/1/2022    Grocery     0.796    109.848   XYZ   22344    1495607.0
11  2/1/2022    Grocery     1.000    310.000   XYZ  122134    1495644.0
12  2/1/2022    Grocery     1.000    165.000   XYZ  116370    1495644.0
13  2/1/2022    Grocery     1.000     80.000   XYZ   10613    1495644.0
14  2/1/2022    Grocery     1.000     75.000   XYZ    5278    1495644.0
15  2/1/2022    Grocery     1.000     63.000   XYZ   93799    1495664.0
16  2/2/2022  Household     1.000     49.000   XYZ    8191    1495674.0
17  2/2/2022  Household     1.000    280.000   XYZ   46017    1495674.0
18  2/2/2022  Household     1.000    175.000   XYZ  103102    1495674.0
19  2/2/2022  Household     2.000    300.000   XYZ  123418    1495674.0

In [6]:
from utils import data_preprocess

In [7]:
train_df.head()

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0

In [8]:
test_df.head()

    date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  2/1/2022  Beverages       2.0      480.0   XYZ  112360    1495518.0
1  2/1/2022  Beverages       1.0      202.0   XYZ  111195    1495518.0
2  2/1/2022  Household       1.0      165.0   XYZ   41212    1495572.0
3  2/1/2022  Household       2.0      480.0   XYZ  123476    1495572.0
4  2/1/2022    Grocery       2.0      660.0   XYZ  106668    1495572.0

In [9]:
full_df = pd.concat([train_df, test_df])
full_df

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0       11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1       11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2       11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3       11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4       11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0
...           ...        ...       ...        ...   ...     ...          ...
247619  2/28/2022    Grocery       5.0      500.0   XYZ  114873          NaN
247620  2/28/2022  Household       4.0     2361.0   XYZ  117497          NaN
247621  2/28/2022    Grocery       2.0      480.0   XYZ   77298          NaN
247622  2/28/2022  Beverages       1.0     1900.0   XYZ    1444          NaN
247623  2/28/2022    Grocery       1.0     1060.0   XYZ   16220          NaN

[861722 rows x 7 columns]

In [10]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 861722 entries, 0 to 247623
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date_id      861722 non-null  object
 1   item_dept    861722 non-null  object
 2   item_qty     861722 non-null  float64
 3   net_sales    861722 non-null  float64
 4   store        861722 non-null  object
 5   item         861722 non-null  int64
 6   invoice_num  830607 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 52.6+ MB

In [11]:
full_df

          date_id  item_dept  item_qty  net_sales store    item  invoice_num
0       11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1       11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2       11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3       11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4       11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0
...           ...        ...       ...        ...   ...     ...          ...
247619  2/28/2022    Grocery       5.0      500.0   XYZ  114873          NaN
247620  2/28/2022  Household       4.0     2361.0   XYZ  117497          NaN
247621  2/28/2022    Grocery       2.0      480.0   XYZ   77298          NaN
247622  2/28/2022  Beverages       1.0     1900.0   XYZ    1444          NaN
247623  2/28/2022    Grocery       1.0     1060.0   XYZ   16220          NaN

[861722 rows x 7 columns]

In [12]:
preprocessed_full_df = data_preprocess.preprocess_data(df=full_df, num_lags=3, rolling_window_size = 3)

In [13]:
preprocessed_full_df.head(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
42,2021-11-08,Beverages,ABC,974.000,246984.68200,937.000,884.000,991.000,218668.693000,241963.000000,...,0,0,837.000,1256.000,199145.596010,277904.838000,53.000,57.000,-23294.307000,57.000
43,2021-11-08,Beverages,XYZ,677.000,201386.08100,1043.000,1086.000,910.000,289993.000000,262426.080000,...,0,0,779.000,1086.000,187931.769020,289993.000000,-43.000,-102.000,27566.920000,-102.000
44,2021-11-08,Grocery,ABC,2326.638,438841.43801,2646.820,2614.006,2654.582,505512.742970,548660.900000,...,0,0,2155.128,3021.684,397946.965024,582206.592985,32.814,-33.761,-43148.157030,-33.761
45,2021-11-08,Grocery,XYZ,2879.414,498037.79100,3608.962,3625.864,3287.828,661655.000010,622856.562004,...,0,0,2987.060,3625.864,491450.723000,661655.000010,-16.902,-107.646,38798.438006,-107.646
46,2021-11-08,Household,ABC,883.000,240294.89201,998.000,1152.000,986.000,233781.880016,284326.000000,...,0,0,819.000,1195.000,209100.513996,292020.462024,-154.000,-160.000,-50544.119984,-160.000
47,2021-11-08,Household,XYZ,944.000,237517.07200,1252.000,1315.000,963.000,283841.000000,305140.577002,...,0,0,948.000,1315.000,222311.011000,305140.577002,-63.000,-180.000,-21299.577002,-180.000
48,2021-11-09,Beverages,ABC,815.000,199577.00000,974.000,937.000,884.000,246984.682000,218668.693000,...,0,0,837.000,1256.000,199145.596010,277904.838000,37.000,-325.000,28315.989000,-325.000
49,2021-11-09,Beverages,XYZ,971.000,263813.85400,677.000,1043.000,1086.000,201386.081000,289993.000000,...,0,0,677.000,1086.000,187931.769020,289993.000000,-366.000,49.000,-88606.919000,49.000
50,2021-11-09,Grocery,ABC,2489.046,497413.33899,2326.638,2646.820,2614.006,438841.438010,505512.742970,...,0,0,2155.128,3021.684,397946.965024,582206.592985,-320.182,-532.638,-66671.304960,-532.638
51,2021-11-09,Grocery,XYZ,3608.112,622938.06900,2879.414,3608.962,3625.864,498037.791000,661655.000010,...,0,0,2879.414,3625.864,491450.723000,661655.000010,-729.548,-15.604,-163617.209010,-15.604
52,2021-11-09,Household,ABC,930.000,229917.00000,883.000,998.000,1152.000,240294.892010,233781.880016,...,0,0,819.000,1195.000,209100.513996,292020.462024,-115.000,-265.000,6513.011994,-265.000
53,2021-11-09,Household,XYZ,1118.000,277746.99300,944.000,1252.000,1315.000,237517.072000,283841.000000,...,0,0,944.000,1315.000,222311.011000,305140.577002,-308.000,-78.000,-46323.928000,-78.000
54,2021-11-10,Beverages,ABC,924.000,238515.24300,815.000,974.000,937.000,199577.000000,246984.682000,...,0,0,815.000,1256.000,199145.596010,277904.838000,-159.000,87.000,-47407.682000,87.000
55,2021-11-10,Beverages,XYZ,934.000,259906.50800,971.000,677.000,1043.000,263813.854000,201386.081000,...,0,0,677.000,1086.000,187931.769020,289993.000000,294.000,93.000,62427.773000,93.000
56,2021-11-10,Grocery,ABC,2876.364,522461.82600,2489.046,2326.638,2646.820,497413.338990,438841.438010,...,0,0,2155.128,3021.684,397946.965024,582206.592985,162.408,721.236,58571.900980,721.236
57,2021-11-10,Grocery,XYZ,3666.634,635110.82600,3608.112,2879.414,3608.962,622938.069000,498037.791000,...,0,0,2879.414,3625.864,491450.723000,661655.000010,728.698,378.534,124900.278000,378.534
58,2021-11-10,Household,ABC,1160.000,304131.27800,930.000,883.000,998.000,229917.000000,240294.892010,...,0,0,819.000,1195.000,209100.513996,292020.462024,47.000,341.000,-10377.892010,341.000
59,2021-11-10,Household,XYZ,1082.000,252174.64699,1118.000,944.000,1252.000,277746.993000,237517.072000,...,0,0,944.000,1315.000,222311.011000,305140.577002,174.000,-26.000,40229.921000,-26.000
60,2021-11-11,Beverages,ABC,1017.000,265286.00000,924.000,815.000,974.000,238515.243000,199577.000000,...,0,1,815.000,1256.000,199145.596010,277904.838000,109.000,-239.000,38938.243000,-239.000
61,2021-11-11,Beverages,XYZ,1104.000,297145.00000,934.000,971.000,677.000,259906.508000,263813.854000,...,0,1,677.000,1086.000,187931.769020,289993.000000,-37.000,190.000,-3907.346000,190.000

In [14]:
main_cols = ['date_id', 'item_dept', 'store', 'item_qty', 'net_sales']

In [15]:
preprocessed_full_df[main_cols].head(10)

      date_id  item_dept store  item_qty     net_sales
42 2021-11-08  Beverages   ABC   974.000  246984.68200
43 2021-11-08  Beverages   XYZ   677.000  201386.08100
44 2021-11-08    Grocery   ABC  2326.638  438841.43801
45 2021-11-08    Grocery   XYZ  2879.414  498037.79100
46 2021-11-08  Household   ABC   883.000  240294.89201
47 2021-11-08  Household   XYZ   944.000  237517.07200
48 2021-11-09  Beverages   ABC   815.000  199577.00000
49 2021-11-09  Beverages   XYZ   971.000  263813.85400
50 2021-11-09    Grocery   ABC  2489.046  497413.33899
51 2021-11-09    Grocery   XYZ  3608.112  622938.06900

In [16]:
depts = preprocessed_full_df['item_dept'].unique()
stores = preprocessed_full_df['store'].unique()
print(depts)
print(stores)

['Beverages' 'Grocery' 'Household']
['ABC' 'XYZ']

In [14]:
('2022', '2023')[1]

'2023'

In [11]:
feb_dates = pd.date_range(start='2022-02-01', end='2022-02-28')

In [12]:
feb_dates

DatetimeIndex(['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08',
               '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12',
               '2022-02-13', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20',
               '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24',
               '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', freq='D')

In [18]:
preprocessed_full_df[preprocessed_full_df['date_id'].isin(feb_dates)].head(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
552,2022-02-01,Beverages,ABC,1672.000,427627.829100,887.000,923.000,966.000,204687.951010,196153.950000,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-36.000,798.000,8534.001010,798.000
553,2022-02-01,Beverages,XYZ,1152.000,268295.034010,791.000,1048.000,1255.000,179122.365010,239877.764000,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,-257.000,266.000,-60755.398990,266.000
554,2022-02-01,Grocery,ABC,3482.128,724896.269996,2603.874,2869.215,2587.436,542643.931000,585570.036980,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,-265.341,753.007,-42926.105980,753.007
555,2022-02-01,Grocery,XYZ,4131.394,777378.278006,2996.909,4040.207,3539.002,563043.734000,756342.462000,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,-1043.298,469.890,-193298.728000,469.890
556,2022-02-01,Household,ABC,1363.000,364019.000000,1115.000,1170.000,1236.000,314800.269990,323308.267970,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-55.000,235.000,-8507.997980,235.000
557,2022-02-01,Household,XYZ,1340.000,343766.403990,1141.000,1298.000,1205.000,269010.675000,312510.762000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,-157.000,153.000,-43500.087000,153.000
558,2022-02-02,Beverages,ABC,1652.000,443960.459000,1672.000,887.000,923.000,427627.829100,204687.951010,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,785.000,557.000,222939.878090,557.000
559,2022-02-02,Beverages,XYZ,1392.000,379689.474000,1152.000,791.000,1048.000,268295.034010,179122.365010,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,361.000,269.000,89172.669000,269.000
560,2022-02-02,Grocery,ABC,3256.287,636533.876996,3482.128,2603.874,2869.215,724896.269996,542643.931000,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,878.254,643.541,182252.338996,643.541
561,2022-02-02,Grocery,XYZ,4251.348,808260.989004,4131.394,2996.909,4040.207,777378.278006,563043.734000,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,1134.485,1337.939,214334.544006,1337.939
562,2022-02-02,Household,ABC,1432.000,363869.992980,1363.000,1115.000,1170.000,364019.000000,314800.269990,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,248.000,277.000,49218.730010,277.000
563,2022-02-02,Household,XYZ,1545.000,369676.873000,1340.000,1141.000,1298.000,343766.403990,269010.675000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,199.000,442.000,74755.728990,442.000
564,2022-02-03,Beverages,ABC,1912.000,514548.664000,1652.000,1672.000,887.000,443960.459000,427627.829100,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-20.000,659.000,16332.629900,659.000
565,2022-02-03,Beverages,XYZ,1702.000,458529.000000,1392.000,1152.000,791.000,379689.474000,268295.034010,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,240.000,532.000,111394.439990,532.000
566,2022-02-03,Grocery,ABC,3987.199,812952.591000,3256.287,3482.128,2603.874,636533.876996,724896.269996,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,-225.841,1385.054,-88362.393000,1385.054
567,2022-02-03,Grocery,XYZ,4469.119,850042.288000,4251.348,4131.394,2996.909,808260.989004,777378.278006,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,119.954,1456.985,30882.710998,1456.985
568,2022-02-03,Household,ABC,1546.000,428585.398000,1432.000,1363.000,1115.000,363869.992980,364019.000000,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,69.000,555.000,-149.007020,555.000
569,2022-02-03,Household,XYZ,1352.000,333607.010010,1545.000,1340.000,1141.000,369676.873000,343766.403990,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,205.000,261.000,25910.469010,261.000
570,2022-02-04,Beverages,ABC,1391.000,537941.250000,1912.000,1652.000,1672.000,514548.664000,443960.459000,...,0,0,756.000,1912.000,168349.26000,5.329314e+05,260.000,72.000,70588.205000,72.000
571,2022-02-04,Beverages,XYZ,1757.000,581321.000000,1702.000,1392.000,1152.000,458529.000000,379689.474000,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,310.000,421.000,78839.526000,421.000

In [19]:
from itertools import product
combinations = list(product(feb_dates, depts, stores))

In [20]:
production_df = pd.DataFrame(combinations, columns=['date_id', 'item_dept', 'store'])

In [21]:
production_df

       date_id  item_dept store
0   2022-02-01  Beverages   ABC
1   2022-02-01  Beverages   XYZ
2   2022-02-01    Grocery   ABC
3   2022-02-01    Grocery   XYZ
4   2022-02-01  Household   ABC
..         ...        ...   ...
163 2022-02-28  Beverages   XYZ
164 2022-02-28    Grocery   ABC
165 2022-02-28    Grocery   XYZ
166 2022-02-28  Household   ABC
167 2022-02-28  Household   XYZ

[168 rows x 3 columns]

In [22]:
preprocessed_full_df[preprocessed_full_df['date_id'] == '2022-02-01']

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
552,2022-02-01,Beverages,ABC,1672.000,427627.829100,887.000,923.000,966.000,204687.95101,196153.95000,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-36.000,798.000,8534.00101,798.000
553,2022-02-01,Beverages,XYZ,1152.000,268295.034010,791.000,1048.000,1255.000,179122.36501,239877.76400,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,-257.000,266.000,-60755.39899,266.000
554,2022-02-01,Grocery,ABC,3482.128,724896.269996,2603.874,2869.215,2587.436,542643.93100,585570.03698,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,-265.341,753.007,-42926.10598,753.007
555,2022-02-01,Grocery,XYZ,4131.394,777378.278006,2996.909,4040.207,3539.002,563043.73400,756342.46200,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,-1043.298,469.890,-193298.72800,469.890
556,2022-02-01,Household,ABC,1363.000,364019.000000,1115.000,1170.000,1236.000,314800.26999,323308.26797,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-55.000,235.000,-8507.99798,235.000
557,2022-02-01,Household,XYZ,1340.000,343766.403990,1141.000,1298.000,1205.000,269010.67500,312510.76200,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,-157.000,153.000,-43500.08700,153.000

In [23]:
prod_df_one_date = production_df[production_df['date_id'] == '2022-02-01']
prod_df_one_date

     date_id  item_dept store
0 2022-02-01  Beverages   ABC
1 2022-02-01  Beverages   XYZ
2 2022-02-01    Grocery   ABC
3 2022-02-01    Grocery   XYZ
4 2022-02-01  Household   ABC
5 2022-02-01  Household   XYZ

In [24]:
preprocessed_full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 678 entries, 42 to 719
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_id                   678 non-null    datetime64[ns]
 1   item_dept                 678 non-null    object
 2   store                     678 non-null    object
 3   item_qty                  678 non-null    float64
 4   net_sales                 678 non-null    float64
 5   lag_item_qty_1            678 non-null    float64
 6   lag_item_qty_2            678 non-null    float64
 7   lag_item_qty_3            678 non-null    float64
 8   lag_net_sales_1           678 non-null    float64
 9   lag_net_sales_2           678 non-null    float64
 10  lag_net_sales_3           678 non-null    float64
 11  rolling_mean_item_qty_3   678 non-null    float64
 12  rolling_std_item_qty_3    678 non-null    float64
 13  rolling_mean_net_sales_3  678 non-null    float64
 14  rolling_std_net_sales_3   678 non-null    float64
 15  cumsum_item_qty           678 non-null    float64
 16  cummean_item_qty          678 non-null    float64
 17  cumsum_net_sales          678 non-null    float64
 18  cummean_net_sales         678 non-null    float64
 19  day_of_week               678 non-null    int32
 20  isWeekend                 678 non-null    int64
 21  Is_Holiday                678 non-null    int64
 22  expanding_min_item_qty    678 non-null    float64
 23  expanding_max_item_qty    678 non-null    float64
 24  expanding_min_net_sales   678 non-null    float64
 25  expanding_max_net_sales   678 non-null    float64
 26  diff_item_qty             678 non-null    float64
 27  diff_item_qty_7           678 non-null    float64
 28  diff_net_sales            678 non-null    float64
 29  diff_net_sales_7          678 non-null    float64
dtypes: datetime64[ns](1), float64(24), int32(1), int64(2), object(2)
memory usage: 161.6+ KB

In [25]:
preprocessed_full_df[['date_id']].describe()

                   date_id
count                  678
mean   2022-01-03 00:00:00
min    2021-11-08 00:00:00
25%    2021-12-06 00:00:00
50%    2022-01-03 00:00:00
75%    2022-01-31 00:00:00
max    2022-02-28 00:00:00

In [26]:
#separate train and test based on dates (before feb -> train | feb -> test)
train_processed = preprocessed_full_df[preprocessed_full_df['date_id'] < '2022-02-01']
test_processed = preprocessed_full_df[preprocessed_full_df['date_id'] >= '2022-02-01']

In [27]:
production_df['date_id'].unique()

<DatetimeArray>
['2022-02-01 00:00:00', '2022-02-02 00:00:00', '2022-02-03 00:00:00',
 '2022-02-04 00:00:00', '2022-02-05 00:00:00', '2022-02-06 00:00:00',
 '2022-02-07 00:00:00', '2022-02-08 00:00:00', '2022-02-09 00:00:00',
 '2022-02-10 00:00:00', '2022-02-11 00:00:00', '2022-02-12 00:00:00',
 '2022-02-13 00:00:00', '2022-02-14 00:00:00', '2022-02-15 00:00:00',
 '2022-02-16 00:00:00', '2022-02-17 00:00:00', '2022-02-18 00:00:00',
 '2022-02-19 00:00:00', '2022-02-20 00:00:00', '2022-02-21 00:00:00',
 '2022-02-22 00:00:00', '2022-02-23 00:00:00', '2022-02-24 00:00:00',
 '2022-02-25 00:00:00', '2022-02-26 00:00:00', '2022-02-27 00:00:00',
 '2022-02-28 00:00:00']
Length: 28, dtype: datetime64[ns]

In [28]:
historical_df = train_processed.copy()[['date_id', 'store', 'item_dept', 'net_sales', 'item_qty']].sort_values(by = ['date_id','item_dept', 'store'])

In [29]:
from utils.model_helpers import recursive_forecasting
recursive_forecasting(historical_df=historical_df, stores_list=stores,
                      depts_list=depts, production_df=production_df)

       date_id  item_dept store  net_sales  item_qty
0   2022-02-01  Beverages   ABC        0.0       0.0
1   2022-02-01  Beverages   XYZ        1.0       1.0
2   2022-02-01    Grocery   ABC        2.0       2.0
3   2022-02-01    Grocery   XYZ        3.0       3.0
4   2022-02-01  Household   ABC        4.0       4.0
..         ...        ...   ...        ...       ...
163 2022-02-28  Beverages   XYZ      163.0     163.0
164 2022-02-28    Grocery   ABC      164.0     164.0
165 2022-02-28    Grocery   XYZ      165.0     165.0
166 2022-02-28  Household   ABC      166.0     166.0
167 2022-02-28  Household   XYZ      167.0     167.0

[168 rows x 5 columns]

In [ ]:
combined_df = None
for current_date in production_df['date_id'].unique():
    for dept in depts:
        for store in stores:
            print(current_date)

            relevant_historical_data = historical_df[(historical_df['store'] == store) & (historical_df['item_dept'] == dept)]
            
            current_day_data = production_df[
                (production_df['date_id'] == current_date) &
                (production_df['store'] == store) &
                (production_df['item_dept'] == dept)
            ]

            combined_df = pd.concat([relevant_historical_data, current_day_data], ignore_index=True).tail(7)

            combined_df_processed = data_preprocess.preprocess_data(df=combined_df, num_lags=3, rolling_window_size = 3)

            current_day_data['net_sales'] = 2
            current_day_data['item_qty'] = 2

            production_df.loc[
                (production_df['date_id'] == current_date) & 
                (production_df['store'] == store) & 
                (production_df['item_dept'] == dept), 
                ['net_sales', 'item_qty']
            ] = current_day_data[['net_sales', 'item_qty']].values

            historical_df = pd.concat([historical_df, current_day_data], ignore_index=True)
            
            #print(combined_df)
            # break
        # break
    # break

In [66]:
production_df

       date_id  item_dept store  net_sales  item_qty
0   2022-02-01  Beverages   ABC        2.0       2.0
1   2022-02-01  Beverages   XYZ        2.0       2.0
2   2022-02-01    Grocery   ABC        2.0       2.0
3   2022-02-01    Grocery   XYZ        2.0       2.0
4   2022-02-01  Household   ABC        2.0       2.0
..         ...        ...   ...        ...       ...
163 2022-02-28  Beverages   XYZ        2.0       2.0
164 2022-02-28    Grocery   ABC        2.0       2.0
165 2022-02-28    Grocery   XYZ        2.0       2.0
166 2022-02-28  Household   ABC        2.0       2.0
167 2022-02-28  Household   XYZ        2.0       2.0

[168 rows x 5 columns]

In [67]:
historical_df

       date_id store  item_dept     net_sales  item_qty
0   2021-11-01   ABC  Beverages  254547.79901   917.000
1   2021-11-01   XYZ  Beverages  187931.76902   779.000
2   2021-11-01   ABC    Grocery  437286.62402  2360.399
3   2021-11-01   XYZ    Grocery  491450.72300  2987.060
4   2021-11-01   ABC  Household  247336.26601  1043.000
..         ...   ...        ...           ...       ...
715 2022-02-28   XYZ  Beverages       2.00000     2.000
716 2022-02-28   ABC    Grocery       2.00000     2.000
717 2022-02-28   XYZ    Grocery       2.00000     2.000
718 2022-02-28   ABC  Household       2.00000     2.000
719 2022-02-28   XYZ  Household       2.00000     2.000

[720 rows x 5 columns]

In [31]:
combined_df

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
86,2022-01-26,Beverages,ABC,1095.0,382074.00000,874.0,992.0,868.0,253524.00,308841.50,...,0.0,0.0,756.0,1748.0,168349.26,532931.43602,-118.0,-142.0,-55317.50,-142.0
87,2022-01-27,Beverages,ABC,1253.0,395367.00000,1095.0,874.0,992.0,382074.00,253524.00,...,0.0,0.0,756.0,1748.0,168349.26,532931.43602,221.0,220.0,128550.00,220.0
88,2022-01-28,Beverages,ABC,1319.0,397226.50000,1253.0,1095.0,874.0,395367.00,382074.00,...,0.0,0.0,756.0,1748.0,168349.26,532931.43602,158.0,158.0,13293.00,158.0
89,2022-01-29,Beverages,ABC,966.0,213541.73000,1319.0,1253.0,1095.0,397226.50,395367.00,...,1.0,0.0,756.0,1748.0,168349.26,532931.43602,66.0,-291.0,1859.50,-291.0
90,2022-01-30,Beverages,ABC,923.0,196153.95000,966.0,1319.0,1253.0,213541.73,397226.50,...,1.0,0.0,756.0,1748.0,168349.26,532931.43602,-353.0,55.0,-183684.77,55.0
91,2022-01-31,Beverages,ABC,887.0,204687.95101,923.0,966.0,1319.0,196153.95,213541.73,...,0.0,0.0,756.0,1748.0,168349.26,532931.43602,-43.0,-105.0,-17387.78,-105.0
92,2022-02-01,Beverages,ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
train_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 552 entries, 0 to 551
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_id                   552 non-null    datetime64[ns]
 1   item_dept                 552 non-null    object
 2   store                     552 non-null    object
 3   item_qty                  552 non-null    float64
 4   net_sales                 552 non-null    float64
 5   lag_item_qty_1            546 non-null    float64
 6   lag_item_qty_2            540 non-null    float64
 7   lag_item_qty_3            534 non-null    float64
 8   lag_net_sales_1           546 non-null    float64
 9   lag_net_sales_2           540 non-null    float64
 10  lag_net_sales_3           534 non-null    float64
 11  rolling_mean_item_qty_3   534 non-null    float64
 12  rolling_std_item_qty_3    534 non-null    float64
 13  rolling_mean_net_sales_3  534 non-null    float64
 14  rolling_std_net_sales_3   534 non-null    float64
 15  cumsum_item_qty           546 non-null    float64
 16  cummean_item_qty          546 non-null    float64
 17  cumsum_net_sales          546 non-null    float64
 18  cummean_net_sales         546 non-null    float64
 19  day_of_week               552 non-null    int32
 20  isWeekend                 552 non-null    int64
 21  Is_Holiday                552 non-null    int64
 22  expanding_min_item_qty    546 non-null    float64
 23  expanding_max_item_qty    546 non-null    float64
 24  expanding_min_net_sales   546 non-null    float64
 25  expanding_max_net_sales   546 non-null    float64
 26  diff_item_qty             540 non-null    float64
 27  diff_item_qty_7           510 non-null    float64
 28  diff_net_sales            540 non-null    float64
 29  diff_net_sales_7          510 non-null    float64
dtypes: datetime64[ns](1), float64(24), int32(1), int64(2), object(2)
memory usage: 131.5+ KB

In [15]:
test_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 552 to 719
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_id                   168 non-null    datetime64[ns]
 1   item_dept                 168 non-null    object
 2   store                     168 non-null    object
 3   item_qty                  168 non-null    float64
 4   net_sales                 168 non-null    float64
 5   lag_item_qty_1            168 non-null    float64
 6   lag_item_qty_2            168 non-null    float64
 7   lag_item_qty_3            168 non-null    float64
 8   lag_net_sales_1           168 non-null    float64
 9   lag_net_sales_2           168 non-null    float64
 10  lag_net_sales_3           168 non-null    float64
 11  rolling_mean_item_qty_3   168 non-null    float64
 12  rolling_std_item_qty_3    168 non-null    float64
 13  rolling_mean_net_sales_3  168 non-null    float64
 14  rolling_std_net_sales_3   168 non-null    float64
 15  cumsum_item_qty           168 non-null    float64
 16  cummean_item_qty          168 non-null    float64
 17  cumsum_net_sales          168 non-null    float64
 18  cummean_net_sales         168 non-null    float64
 19  day_of_week               168 non-null    int32
 20  isWeekend                 168 non-null    int64
 21  Is_Holiday                168 non-null    int64
 22  expanding_min_item_qty    168 non-null    float64
 23  expanding_max_item_qty    168 non-null    float64
 24  expanding_min_net_sales   168 non-null    float64
 25  expanding_max_net_sales   168 non-null    float64
 26  diff_item_qty             168 non-null    float64
 27  diff_item_qty_7           168 non-null    float64
 28  diff_net_sales            168 non-null    float64
 29  diff_net_sales_7          168 non-null    float64
dtypes: datetime64[ns](1), float64(24), int32(1), int64(2), object(2)
memory usage: 40.0+ KB

In [16]:
test_processed.head(30)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
552,2022-02-01,Beverages,ABC,1672.000,427627.829100,887.000,923.000,966.000,204687.951010,196153.950000,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-36.000,798.000,8534.001010,798.000
553,2022-02-01,Beverages,XYZ,1152.000,268295.034010,791.000,1048.000,1255.000,179122.365010,239877.764000,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,-257.000,266.000,-60755.398990,266.000
554,2022-02-01,Grocery,ABC,3482.128,724896.269996,2603.874,2869.215,2587.436,542643.931000,585570.036980,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,-265.341,753.007,-42926.105980,753.007
555,2022-02-01,Grocery,XYZ,4131.394,777378.278006,2996.909,4040.207,3539.002,563043.734000,756342.462000,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,-1043.298,469.890,-193298.728000,469.890
556,2022-02-01,Household,ABC,1363.000,364019.000000,1115.000,1170.000,1236.000,314800.269990,323308.267970,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,-55.000,235.000,-8507.997980,235.000
557,2022-02-01,Household,XYZ,1340.000,343766.403990,1141.000,1298.000,1205.000,269010.675000,312510.762000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,-157.000,153.000,-43500.087000,153.000
558,2022-02-02,Beverages,ABC,1652.000,443960.459000,1672.000,887.000,923.000,427627.829100,204687.951010,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,785.000,557.000,222939.878090,557.000
559,2022-02-02,Beverages,XYZ,1392.000,379689.474000,1152.000,791.000,1048.000,268295.034010,179122.365010,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,361.000,269.000,89172.669000,269.000
560,2022-02-02,Grocery,ABC,3256.287,636533.876996,3482.128,2603.874,2869.215,724896.269996,542643.931000,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,878.254,643.541,182252.338996,643.541
561,2022-02-02,Grocery,XYZ,4251.348,808260.989004,4131.394,2996.909,4040.207,777378.278006,563043.734000,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,1134.485,1337.939,214334.544006,1337.939
562,2022-02-02,Household,ABC,1432.000,363869.992980,1363.000,1115.000,1170.000,364019.000000,314800.269990,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,248.000,277.000,49218.730010,277.000
563,2022-02-02,Household,XYZ,1545.000,369676.873000,1340.000,1141.000,1298.000,343766.403990,269010.675000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,199.000,442.000,74755.728990,442.000
564,2022-02-03,Beverages,ABC,1912.000,514548.664000,1652.000,1672.000,887.000,443960.459000,427627.829100,...,0,0,756.000,1748.000,168349.26000,5.329314e+05,-20.000,659.000,16332.629900,659.000
565,2022-02-03,Beverages,XYZ,1702.000,458529.000000,1392.000,1152.000,791.000,379689.474000,268295.034010,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,240.000,532.000,111394.439990,532.000
566,2022-02-03,Grocery,ABC,3987.199,812952.591000,3256.287,3482.128,2603.874,636533.876996,724896.269996,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,-225.841,1385.054,-88362.393000,1385.054
567,2022-02-03,Grocery,XYZ,4469.119,850042.288000,4251.348,4131.394,2996.909,808260.989004,777378.278006,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,119.954,1456.985,30882.710998,1456.985
568,2022-02-03,Household,ABC,1546.000,428585.398000,1432.000,1363.000,1115.000,363869.992980,364019.000000,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,69.000,555.000,-149.007020,555.000
569,2022-02-03,Household,XYZ,1352.000,333607.010010,1545.000,1340.000,1141.000,369676.873000,343766.403990,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,205.000,261.000,25910.469010,261.000
570,2022-02-04,Beverages,ABC,1391.000,537941.250000,1912.000,1652.000,1672.000,514548.664000,443960.459000,...,0,0,756.000,1912.000,168349.26000,5.329314e+05,260.000,72.000,70588.205000,72.000
571,2022-02-04,Beverages,XYZ,1757.000,581321.000000,1702.000,1392.000,1152.000,458529.000000,379689.474000,...,0,0,645.000,1761.000,149946.09000,5.130570e+05,310.000,421.000,78839.526000,421.000
572,2022-02-04,Grocery,ABC,2511.904,509971.010000,3987.199,3256.287,3482.128,812952.591000,636533.876996,...,0,0,1779.437,7787.289,367440.18300,2.035445e+06,730.912,153.146,176418.714004,153.146
573,2022-02-04,Grocery,XYZ,4477.322,846335.324000,4469.119,4251.348,4131.394,850042.288000,808260.989004,...,0,0,2396.285,5963.381,443513.48100,1.161787e+06,217.771,1314.530,41781.298996,1314.530
574,2022-02-04,Household,ABC,1121.000,340235.000000,1546.000,1432.000,1363.000,428585.398000,363869.992980,...,0,0,718.000,1606.000,181968.99900,4.518945e+05,114.000,59.000,64715.405020,59.000
575,2022-02-04,Household,XYZ,1509.000,374594.445980,1352.000,1545.000,1340.000,333607.010010,369676.873000,...,0,0,729.000,1646.000,187888.59709,3.829678e+05,-193.000,458.000,-36069.862990,458.000
576,2022-02-05,Beverages,ABC,1743.000,546261.057090,1391.000,1912.000,1652.000,537941.250000,514548.664000,...,1,0,756.000,1912.000,168349.26000,5.379412e+05,-521.000,777.000,23392.586000,777.000
577,2022-02-05,Beverages,XYZ,1763.000,561957.219000,1757.000,1702.000,1392.000,581321.000000,458529.000000,...,1,0,645.000,1761.000,149946.09000,5.813210e+05,55.000,508.000,122792.000000,508.000
578,2022-02-05,Grocery,ABC,2963.920,677446.828070,2511.904,3987.199,3256.287,509971.010000,812952.591000,...,1,0,1779.437,7787.289,367440.18300,2.035445e+06,-1475.295,376.484,-302981.581000,376.484
579,2022-02-05,Grocery,XYZ,4101.791,795744.350990,4477.322,4469.119,4251.348,846335.324000,850042.288000,...,1,0,2396.285,5963.381,443513.48100,1.161787e+06,8.203,562.789,-3706.964000,562.789
580,2022-02-05,Household,ABC,1143.000,312297.506000,1121.000,1546.000,1432.000,340235.000000,428585.398000,...,1,0,718.000,1606.000,181968.99900,4.518945e+05,-425.000,-93.000,-88350.398000,-93.000
581,2022-02-05,Household,XYZ,1318.000,347448.804040,1509.000,1352.000,1545.000,374594.445980,333607.010010,...,1,0,729.000,1646.000,187888.59709,3.829678e+05,157.000,113.000,40987.435970,113.000

## Prep Data for Modeling

In [17]:
train_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 552 entries, 0 to 551
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date_id                   552 non-null    datetime64[ns]
 1   item_dept                 552 non-null    object
 2   store                     552 non-null    object
 3   item_qty                  552 non-null    float64
 4   net_sales                 552 non-null    float64
 5   lag_item_qty_1            546 non-null    float64
 6   lag_item_qty_2            540 non-null    float64
 7   lag_item_qty_3            534 non-null    float64
 8   lag_net_sales_1           546 non-null    float64
 9   lag_net_sales_2           540 non-null    float64
 10  lag_net_sales_3           534 non-null    float64
 11  rolling_mean_item_qty_3   534 non-null    float64
 12  rolling_std_item_qty_3    534 non-null    float64
 13  rolling_mean_net_sales_3  534 non-null    float64
 14  rolling_std_net_sales_3   534 non-null    float64
 15  cumsum_item_qty           546 non-null    float64
 16  cummean_item_qty          546 non-null    float64
 17  cumsum_net_sales          546 non-null    float64
 18  cummean_net_sales         546 non-null    float64
 19  day_of_week               552 non-null    int32
 20  isWeekend                 552 non-null    int64
 21  Is_Holiday                552 non-null    int64
 22  expanding_min_item_qty    546 non-null    float64
 23  expanding_max_item_qty    546 non-null    float64
 24  expanding_min_net_sales   546 non-null    float64
 25  expanding_max_net_sales   546 non-null    float64
 26  diff_item_qty             540 non-null    float64
 27  diff_item_qty_7           510 non-null    float64
 28  diff_net_sales            540 non-null    float64
 29  diff_net_sales_7          510 non-null    float64
dtypes: datetime64[ns](1), float64(24), int32(1), int64(2), object(2)
memory usage: 131.5+ KB

In [18]:
train_processed_non_null = train_processed.dropna(axis = 0)
train_processed_non_null

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,lag_net_sales_1,lag_net_sales_2,...,isWeekend,Is_Holiday,expanding_min_item_qty,expanding_max_item_qty,expanding_min_net_sales,expanding_max_net_sales,diff_item_qty,diff_item_qty_7,diff_net_sales,diff_net_sales_7
42,2021-11-08,Beverages,ABC,974.000,246984.68200,937.000,884.000,991.000,218668.693000,241963.000000,...,0,0,837.000,1256.000,199145.596010,2.779048e+05,53.000,57.000,-23294.307000,57.000
43,2021-11-08,Beverages,XYZ,677.000,201386.08100,1043.000,1086.000,910.000,289993.000000,262426.080000,...,0,0,779.000,1086.000,187931.769020,2.899930e+05,-43.000,-102.000,27566.920000,-102.000
44,2021-11-08,Grocery,ABC,2326.638,438841.43801,2646.820,2614.006,2654.582,505512.742970,548660.900000,...,0,0,2155.128,3021.684,397946.965024,5.822066e+05,32.814,-33.761,-43148.157030,-33.761
45,2021-11-08,Grocery,XYZ,2879.414,498037.79100,3608.962,3625.864,3287.828,661655.000010,622856.562004,...,0,0,2987.060,3625.864,491450.723000,6.616550e+05,-16.902,-107.646,38798.438006,-107.646
46,2021-11-08,Household,ABC,883.000,240294.89201,998.000,1152.000,986.000,233781.880016,284326.000000,...,0,0,819.000,1195.000,209100.513996,2.920205e+05,-154.000,-160.000,-50544.119984,-160.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2022-01-31,Beverages,XYZ,791.000,179122.36501,1048.000,1255.000,1336.000,239877.764000,337437.000000,...,0,0,645.000,1761.000,149946.090000,5.130570e+05,-207.000,22.000,-97559.236000,22.000
548,2022-01-31,Grocery,ABC,2603.874,542643.93100,2869.215,2587.436,2358.758,585570.036980,551861.601020,...,0,0,1779.437,7787.289,367440.183000,2.035445e+06,281.779,286.094,33708.435960,286.094
549,2022-01-31,Grocery,XYZ,2996.909,563043.73400,4040.207,3539.002,3162.792,756342.462000,667129.626000,...,0,0,2396.285,5963.381,443513.481000,1.161787e+06,501.205,434.602,89212.836000,434.602
550,2022-01-31,Household,ABC,1115.000,314800.26999,1170.000,1236.000,1062.000,323308.267970,349645.837880,...,0,0,718.000,1606.000,181968.999000,4.518945e+05,-66.000,180.000,-26337.569910,180.000
551,2022-01-31,Household,XYZ,1141.000,269010.67500,1298.000,1205.000,1051.000,312510.762000,311037.000000,...,0,0,729.000,1646.000,187888.597090,3.829678e+05,93.000,195.000,1473.762000,195.000

In [19]:
train_processed_non_null.columns

Index(['date_id', 'item_dept', 'store', 'item_qty', 'net_sales',
       'lag_item_qty_1', 'lag_item_qty_2', 'lag_item_qty_3', 'lag_net_sales_1',
       'lag_net_sales_2', 'lag_net_sales_3', 'rolling_mean_item_qty_3',
       'rolling_std_item_qty_3', 'rolling_mean_net_sales_3',
       'rolling_std_net_sales_3', 'cumsum_item_qty', 'cummean_item_qty',
       'cumsum_net_sales', 'cummean_net_sales', 'day_of_week', 'isWeekend',
       'Is_Holiday', 'expanding_min_item_qty', 'expanding_max_item_qty',
       'expanding_min_net_sales', 'expanding_max_net_sales', 'diff_item_qty',
       'diff_item_qty_7', 'diff_net_sales', 'diff_net_sales_7'],
      dtype='object')

In [20]:
cols_drop = ['date_id', 'item_dept', 'store', 'item_qty', 'net_sales']
X_train = train_processed_non_null.drop(columns=cols_drop)
X_test = test_processed.drop(columns=cols_drop)

y_train_sales = train_processed_non_null['net_sales'].values
y_test_sales = test_processed['net_sales'].values

y_train_item_qty = train_processed_non_null['item_qty'].values
y_test_item_qty = test_processed['item_qty'].values

In [27]:
from xgboost import XGBRegressor
xgb_sales = XGBRegressor(random_state = 0)
xgb_qty = XGBRegressor(radom_state = 0)

In [28]:
xgb_sales.fit(X_train, y_train_sales)
xgb_qty.fit(X_train, y_train_item_qty)

[16:28:31] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "radom_state" } are not used.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, radom_state=0, ...)

In [29]:
y_pred_sales = xgb_sales.predict(X_test)
y_pred_qty = xgb_qty.predict(X_test)

In [25]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
print(mean_absolute_percentage_error(y_test_sales, y_pred_sales))

0.1662188580813835

In [30]:
print(mean_absolute_percentage_error(y_test_item_qty, y_pred_qty))

0.1781680194157962

In [26]:
print(mean_absolute_error(y_test_sales, y_pred_sales))

86906.23141655054

In [31]:
print(mean_absolute_error(y_test_item_qty, y_pred_qty))

392.8042492966425

# Other Workings

In [18]:
# Preprocessing
full_df['date_id'] = pd.to_datetime(full_df['date_id'])
full_df_gb = full_df.groupby(['date_id', 'item_dept', 'store'])[['item_qty', 'net_sales']].sum().reset_index()

In [19]:
full_df_gb.describe()

                   date_id     item_qty     net_sales
count                  720   720.000000  7.200000e+02
mean   2021-12-30 12:00:00  1818.321844  4.020016e+05
min    2021-11-01 00:00:00   645.000000  1.499461e+05
25%    2021-11-30 18:00:00  1027.750000  2.559598e+05
50%    2021-12-30 12:00:00  1280.000000  3.367846e+05
75%    2022-01-29 06:00:00  2604.174500  5.225754e+05
max    2022-02-28 00:00:00  7787.289000  2.035445e+06
std                    NaN  1090.859874  1.941571e+05

In [20]:
full_df_gb.head(18)

      date_id  item_dept store  item_qty      net_sales
0  2021-11-01  Beverages   ABC   917.000  254547.799010
1  2021-11-01  Beverages   XYZ   779.000  187931.769020
2  2021-11-01    Grocery   ABC  2360.399  437286.624020
3  2021-11-01    Grocery   XYZ  2987.060  491450.723000
4  2021-11-01  Household   ABC  1043.000  247336.266010
5  2021-11-01  Household   XYZ  1124.000  247156.009988
6  2021-11-02  Beverages   ABC  1140.000  277904.838000
7  2021-11-02  Beverages   XYZ   922.000  251330.130000
8  2021-11-02    Grocery   ABC  3021.684  582206.592985
9  2021-11-02    Grocery   XYZ  3623.716  592195.489002
10 2021-11-02  Household   ABC  1195.000  292020.462024
11 2021-11-02  Household   XYZ  1196.000  262403.349000
12 2021-11-03  Beverages   ABC   837.000  199145.596010
13 2021-11-03  Beverages   XYZ   841.000  228560.219000
14 2021-11-03    Grocery   ABC  2155.128  397946.965024
15 2021-11-03    Grocery   XYZ  3288.100  574684.181000
16 2021-11-03  Household   ABC   819.000  209100.513996
17 2021-11-03  Household   XYZ  1108.000  249315.458000

In [21]:
full_df_gb.head(18)

      date_id  item_dept store  item_qty      net_sales
0  2021-11-01  Beverages   ABC   917.000  254547.799010
1  2021-11-01  Beverages   XYZ   779.000  187931.769020
2  2021-11-01    Grocery   ABC  2360.399  437286.624020
3  2021-11-01    Grocery   XYZ  2987.060  491450.723000
4  2021-11-01  Household   ABC  1043.000  247336.266010
5  2021-11-01  Household   XYZ  1124.000  247156.009988
6  2021-11-02  Beverages   ABC  1140.000  277904.838000
7  2021-11-02  Beverages   XYZ   922.000  251330.130000
8  2021-11-02    Grocery   ABC  3021.684  582206.592985
9  2021-11-02    Grocery   XYZ  3623.716  592195.489002
10 2021-11-02  Household   ABC  1195.000  292020.462024
11 2021-11-02  Household   XYZ  1196.000  262403.349000
12 2021-11-03  Beverages   ABC   837.000  199145.596010
13 2021-11-03  Beverages   XYZ   841.000  228560.219000
14 2021-11-03    Grocery   ABC  2155.128  397946.965024
15 2021-11-03    Grocery   XYZ  3288.100  574684.181000
16 2021-11-03  Household   ABC   819.000  209100.513996
17 2021-11-03  Household   XYZ  1108.000  249315.458000

In [22]:
full_df_gb_lags = data_preprocess.create_lag_features(df=full_df_gb, feature_name='item_qty', num_lags=2)

In [23]:
data_preprocess.create_expanding_window_features(df=full_df_gb_lags, feature_name='item_qty').head(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,expanding_min_item_qty,expanding_max_item_qty
0,2021-11-01,Beverages,ABC,917.000,254547.799010,NaN,NaN,NaN,NaN
1,2021-11-01,Beverages,XYZ,779.000,187931.769020,NaN,NaN,NaN,NaN
2,2021-11-01,Grocery,ABC,2360.399,437286.624020,NaN,NaN,NaN,NaN
3,2021-11-01,Grocery,XYZ,2987.060,491450.723000,NaN,NaN,NaN,NaN
4,2021-11-01,Household,ABC,1043.000,247336.266010,NaN,NaN,NaN,NaN
5,2021-11-01,Household,XYZ,1124.000,247156.009988,NaN,NaN,NaN,NaN
6,2021-11-02,Beverages,ABC,1140.000,277904.838000,917.000,NaN,917.000,917.000
7,2021-11-02,Beverages,XYZ,922.000,251330.130000,779.000,NaN,779.000,779.000
8,2021-11-02,Grocery,ABC,3021.684,582206.592985,2360.399,NaN,2360.399,2360.399
9,2021-11-02,Grocery,XYZ,3623.716,592195.489002,2987.060,NaN,2987.060,2987.060
10,2021-11-02,Household,ABC,1195.000,292020.462024,1043.000,NaN,1043.000,1043.000
11,2021-11-02,Household,XYZ,1196.000,262403.349000,1124.000,NaN,1124.000,1124.000
12,2021-11-03,Beverages,ABC,837.000,199145.596010,1140.000,917.000,917.000,1140.000
13,2021-11-03,Beverages,XYZ,841.000,228560.219000,922.000,779.000,779.000,922.000
14,2021-11-03,Grocery,ABC,2155.128,397946.965024,3021.684,2360.399,2360.399,3021.684
15,2021-11-03,Grocery,XYZ,3288.100,574684.181000,3623.716,2987.060,2987.060,3623.716
16,2021-11-03,Household,ABC,819.000,209100.513996,1195.000,1043.000,1043.000,1195.000
17,2021-11-03,Household,XYZ,1108.000,249315.458000,1196.000,1124.000,1124.000,1196.000
18,2021-11-04,Beverages,ABC,1256.000,255926.913000,837.000,1140.000,837.000,1140.000
19,2021-11-04,Beverages,XYZ,914.000,237710.290000,841.000,922.000,779.000,922.000

In [24]:
# Feature Engineering
full_df_gb['day_of_week'] = full_df_gb['date_id'].dt.dayofweek
full_df_gb['month'] = full_df_gb['date_id'].dt.month

In [25]:
full_df_gb

       date_id  item_dept store  item_qty      net_sales  day_of_week  month
0   2021-11-01  Beverages   ABC   917.000  254547.799010            0     11
1   2021-11-01  Beverages   XYZ   779.000  187931.769020            0     11
2   2021-11-01    Grocery   ABC  2360.399  437286.624020            0     11
3   2021-11-01    Grocery   XYZ  2987.060  491450.723000            0     11
4   2021-11-01  Household   ABC  1043.000  247336.266010            0     11
..         ...        ...   ...       ...            ...          ...    ...
715 2022-02-28  Beverages   XYZ  1256.000  301840.902984            0      2
716 2022-02-28    Grocery   ABC  3548.268  700557.436867            0      2
717 2022-02-28    Grocery   XYZ  4854.414  950084.212008            0      2
718 2022-02-28  Household   ABC  1520.000  394323.614974            0      2
719 2022-02-28  Household   XYZ  1700.000  412074.053949            0      2

[720 rows x 7 columns]

In [26]:
# Lag features
full_df_gb['lag_qty_1'] = full_df_gb.groupby(['item_dept', 'store'])['item_qty'].shift(1)
full_df_gb['lag_sales_1'] = full_df_gb.groupby(['item_dept', 'store'])['net_sales'].shift(1)

In [27]:
full_df_gb.head(12)

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1
0,2021-11-01,Beverages,ABC,917.000,254547.799010,0,11,NaN,NaN
1,2021-11-01,Beverages,XYZ,779.000,187931.769020,0,11,NaN,NaN
2,2021-11-01,Grocery,ABC,2360.399,437286.624020,0,11,NaN,NaN
3,2021-11-01,Grocery,XYZ,2987.060,491450.723000,0,11,NaN,NaN
4,2021-11-01,Household,ABC,1043.000,247336.266010,0,11,NaN,NaN
5,2021-11-01,Household,XYZ,1124.000,247156.009988,0,11,NaN,NaN
6,2021-11-02,Beverages,ABC,1140.000,277904.838000,1,11,917.000,254547.799010
7,2021-11-02,Beverages,XYZ,922.000,251330.130000,1,11,779.000,187931.769020
8,2021-11-02,Grocery,ABC,3021.684,582206.592985,1,11,2360.399,437286.624020
9,2021-11-02,Grocery,XYZ,3623.716,592195.489002,1,11,2987.060,491450.723000
10,2021-11-02,Household,ABC,1195.000,292020.462024,1,11,1043.000,247336.266010
11,2021-11-02,Household,XYZ,1196.000,262403.349000,1,11,1124.000,247156.009988

In [28]:
full_df_gb['expanding_min_qty'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].cummin()
full_df_gb['expanding_max_qty'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].cummax()
full_df_gb['expanding_prod'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].cumprod()

In [29]:
full_df_gb['cumsum_qty'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].cumsum()
full_df_gb['cummean_qty'] = full_df_gb['cumsum_qty'] / full_df_gb.groupby(['store', 'item_dept'])['lag_qty_1'].cumcount()

In [30]:
df_process[f'diff_{feature_name}_7'] = df_process.groupby(['item_dept', 'store'])['item_qty'].diff(7)

NameError: name 'df_process' is not defined

In [ ]:
full_df_gb[(full_df_gb['store'] == 'ABC') & (full_df_gb['item_dept'] == 'Beverages')].head(10)

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,expanding_min_qty,cumsum_qty,cummean_qty,expanding_max_qty,expanding_prod
0,2021-11-01,Beverages,ABC,917.0,254547.79901,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-11-02,Beverages,ABC,1140.0,277904.83800,1,11,917.0,254547.79901,917.0,917.0,917.000000,917.0,9.170000e+02
12,2021-11-03,Beverages,ABC,837.0,199145.59601,2,11,1140.0,277904.83800,917.0,2057.0,1028.500000,1140.0,1.045380e+06
18,2021-11-04,Beverages,ABC,1256.0,255926.91300,3,11,837.0,199145.59601,837.0,2894.0,964.666667,1140.0,8.749831e+08
24,2021-11-05,Beverages,ABC,991.0,255695.36500,4,11,1256.0,255926.91300,837.0,4150.0,1037.500000,1256.0,1.098979e+12
30,2021-11-06,Beverages,ABC,884.0,241963.00000,5,11,991.0,255695.36500,837.0,5141.0,1028.200000,1256.0,1.089088e+15
36,2021-11-07,Beverages,ABC,937.0,218668.69300,6,11,884.0,241963.00000,837.0,6025.0,1004.166667,1256.0,9.627537e+17
42,2021-11-08,Beverages,ABC,974.0,246984.68200,0,11,937.0,218668.69300,837.0,6962.0,994.571429,1256.0,9.021002e+20
48,2021-11-09,Beverages,ABC,815.0,199577.00000,1,11,974.0,246984.68200,837.0,7936.0,992.000000,1256.0,8.786456e+23
54,2021-11-10,Beverages,ABC,924.0,238515.24300,2,11,815.0,199577.00000,815.0,8751.0,972.333333,1256.0,7.160962e+26

In [ ]:
# Lag features
full_df_gb['lag_qty_2'] = full_df_gb.groupby(['item_dept', 'store'])['item_qty'].shift(2)
full_df_gb['lag_sales_2'] = full_df_gb.groupby(['item_dept', 'store'])['net_sales'].shift(2)

In [ ]:
full_df_gb[(full_df_gb['item_dept'] == 'Beverages') & (full_df_gb['store'] == 'ABC')]

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,lag_qty_2,lag_sales_2
0,2021-11-01,Beverages,ABC,917.0,254547.799010,0,11,NaN,NaN,NaN,NaN
6,2021-11-02,Beverages,ABC,1140.0,277904.838000,1,11,917.0,254547.799010,NaN,NaN
12,2021-11-03,Beverages,ABC,837.0,199145.596010,2,11,1140.0,277904.838000,917.0,254547.79901
18,2021-11-04,Beverages,ABC,1256.0,255926.913000,3,11,837.0,199145.596010,1140.0,277904.83800
24,2021-11-05,Beverages,ABC,991.0,255695.365000,4,11,1256.0,255926.913000,837.0,199145.59601
...,...,...,...,...,...,...,...,...,...,...,...
690,2022-02-24,Beverages,ABC,1531.0,562260.630000,3,2,1094.0,250334.291980,1464.0,409491.97300
696,2022-02-25,Beverages,ABC,1358.0,331291.918000,4,2,1531.0,562260.630000,1094.0,250334.29198
702,2022-02-26,Beverages,ABC,1267.0,346495.176030,5,2,1358.0,331291.918000,1531.0,562260.63000
708,2022-02-27,Beverages,ABC,1535.0,448158.400996,6,2,1267.0,346495.176030,1358.0,331291.91800
714,2022-02-28,Beverages,ABC,1496.0,413742.946000,0,2,1535.0,448158.400996,1267.0,346495.17603

In [ ]:
full_df_gb[['date_id','item_dept','lag_qty_1', 'lag_qty_2', 'lag_sales_1', 'lag_sales_2', 'item_qty', 'net_sales']].dropna().head(20)

,date_id,item_dept,lag_qty_1,lag_qty_2,lag_sales_1,lag_sales_2,item_qty,net_sales
12,2021-11-03,Beverages,1140.000,917.000,277904.838000,254547.799010,837.000,199145.596010
13,2021-11-03,Beverages,922.000,779.000,251330.130000,187931.769020,841.000,228560.219000
14,2021-11-03,Grocery,3021.684,2360.399,582206.592985,437286.624020,2155.128,397946.965024
15,2021-11-03,Grocery,3623.716,2987.060,592195.489002,491450.723000,3288.100,574684.181000
16,2021-11-03,Household,1195.000,1043.000,292020.462024,247336.266010,819.000,209100.513996
17,2021-11-03,Household,1196.000,1124.000,262403.349000,247156.009988,1108.000,249315.458000
18,2021-11-04,Beverages,837.000,1140.000,199145.596010,277904.838000,1256.000,255926.913000
19,2021-11-04,Beverages,841.000,922.000,228560.219000,251330.130000,914.000,237710.290000
20,2021-11-04,Grocery,2155.128,3021.684,397946.965024,582206.592985,2648.306,522916.128000
21,2021-11-04,Grocery,3288.100,3623.716,574684.181000,592195.489002,3268.081,510482.668000
22,2021-11-04,Household,819.000,1195.000,209100.513996,292020.462024,921.000,243260.745014
23,2021-11-04,Household,1108.000,1196.000,249315.458000,262403.349000,948.000,228511.923005
24,2021-11-05,Beverages,1256.000,837.000,255926.913000,199145.596010,991.000,255695.365000
25,2021-11-05,Beverages,914.000,841.000,237710.290000,228560.219000,910.000,217746.000000
26,2021-11-05,Grocery,2648.306,2155.128,522916.128000,397946.965024,2654.582,479383.663970
27,2021-11-05,Grocery,3268.081,3288.100,510482.668000,574684.181000,3287.828,557072.729000
28,2021-11-05,Household,921.000,819.000,243260.745014,209100.513996,986.000,265589.692020
29,2021-11-05,Household,948.000,1108.000,228511.923005,249315.458000,963.000,222311.011000
30,2021-11-06,Beverages,991.000,1256.000,255695.365000,255926.913000,884.000,241963.000000
31,2021-11-06,Beverages,910.000,914.000,217746.000000,237710.290000,1086.000,262426.080000

In [ ]:
full_df_gb[(full_df_gb['item_dept'] == 'Beverages') & (full_df_gb['store'] == 'ABC')]

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,lag_qty_2,lag_sales_2
0,2021-11-01,Beverages,ABC,917.0,254547.799010,0,11,NaN,NaN,NaN,NaN
6,2021-11-02,Beverages,ABC,1140.0,277904.838000,1,11,917.0,254547.799010,NaN,NaN
12,2021-11-03,Beverages,ABC,837.0,199145.596010,2,11,1140.0,277904.838000,917.0,254547.79901
18,2021-11-04,Beverages,ABC,1256.0,255926.913000,3,11,837.0,199145.596010,1140.0,277904.83800
24,2021-11-05,Beverages,ABC,991.0,255695.365000,4,11,1256.0,255926.913000,837.0,199145.59601
...,...,...,...,...,...,...,...,...,...,...,...
690,2022-02-24,Beverages,ABC,1531.0,562260.630000,3,2,1094.0,250334.291980,1464.0,409491.97300
696,2022-02-25,Beverages,ABC,1358.0,331291.918000,4,2,1531.0,562260.630000,1094.0,250334.29198
702,2022-02-26,Beverages,ABC,1267.0,346495.176030,5,2,1358.0,331291.918000,1531.0,562260.63000
708,2022-02-27,Beverages,ABC,1535.0,448158.400996,6,2,1267.0,346495.176030,1358.0,331291.91800
714,2022-02-28,Beverages,ABC,1496.0,413742.946000,0,2,1535.0,448158.400996,1267.0,346495.17603

In [ ]:
full_df_gb.columns

Index(['date_id', 'item_dept', 'store', 'item_qty', 'net_sales', 'day_of_week',
       'month', 'lag_qty_1', 'lag_sales_1', 'lag_qty_2', 'lag_sales_2'],
      dtype='object')

In [ ]:
#rolling window creation
# Rolling mean and standard deviation for item_qty
window_size  = 3
full_df_gb[f'rolling_mean_qty_{window_size}'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].transform(lambda x: x.rolling(window=window_size).mean())
full_df_gb[f'rolling_std_qty_{window_size}'] = full_df_gb.groupby(['item_dept', 'store'])['lag_qty_1'].transform(lambda x: x.rolling(window=window_size).std())

# Rolling mean and standard deviation for net_sales
full_df_gb[f'rolling_mean_sales_{window_size}'] = full_df_gb.groupby(['item_dept', 'store'])['lag_sales_1'].transform(lambda x: x.rolling(window=window_size).mean())
full_df_gb[f'rolling_std_sales_{window_size}'] = full_df_gb.groupby(['item_dept', 'store'])['lag_sales_1'].transform(lambda x: x.rolling(window=window_size).std())

In [ ]:
full_df_gb.head(20)

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,lag_qty_2,lag_sales_2,rolling_mean_qty_3,rolling_std_qty_3,rolling_mean_sales_3,rolling_std_sales_3,cumsum_qty,cummean_qty,Is_Holiday
0,2021-11-01,Beverages,ABC,917.000,254547.799010,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,917.000,917.000000,False
1,2021-11-01,Beverages,XYZ,779.000,187931.769020,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,779.000,1028.500000,False
2,2021-11-01,Grocery,ABC,2360.399,437286.624020,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2360.399,964.666667,False
3,2021-11-01,Grocery,XYZ,2987.060,491450.723000,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2987.060,1037.500000,False
4,2021-11-01,Household,ABC,1043.000,247336.266010,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1043.000,1028.200000,False
5,2021-11-01,Household,XYZ,1124.000,247156.009988,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1124.000,1004.166667,False
6,2021-11-02,Beverages,ABC,1140.000,277904.838000,1,11,917.000,254547.799010,NaN,NaN,NaN,NaN,NaN,NaN,2057.000,994.571429,False
7,2021-11-02,Beverages,XYZ,922.000,251330.130000,1,11,779.000,187931.769020,NaN,NaN,NaN,NaN,NaN,NaN,1701.000,992.000000,False
8,2021-11-02,Grocery,ABC,3021.684,582206.592985,1,11,2360.399,437286.624020,NaN,NaN,NaN,NaN,NaN,NaN,5382.083,972.333333,False
9,2021-11-02,Grocery,XYZ,3623.716,592195.489002,1,11,2987.060,491450.723000,NaN,NaN,NaN,NaN,NaN,NaN,6610.776,967.500000,False
10,2021-11-02,Household,ABC,1195.000,292020.462024,1,11,1043.000,247336.266010,NaN,NaN,NaN,NaN,NaN,NaN,2238.000,972.000000,False
11,2021-11-02,Household,XYZ,1196.000,262403.349000,1,11,1124.000,247156.009988,NaN,NaN,NaN,NaN,NaN,NaN,2320.000,980.500000,False
12,2021-11-03,Beverages,ABC,837.000,199145.596010,2,11,1140.000,277904.838000,917.000,254547.799010,NaN,NaN,NaN,NaN,2894.000,1003.000000,False
13,2021-11-03,Beverages,XYZ,841.000,228560.219000,2,11,922.000,251330.130000,779.000,187931.769020,NaN,NaN,NaN,NaN,2542.000,997.142857,False
14,2021-11-03,Grocery,ABC,2155.128,397946.965024,2,11,3021.684,582206.592985,2360.399,437286.624020,NaN,NaN,NaN,NaN,7537.211,981.466667,False
15,2021-11-03,Grocery,XYZ,3288.100,574684.181000,2,11,3623.716,592195.489002,2987.060,491450.723000,NaN,NaN,NaN,NaN,9898.876,984.062500,False
16,2021-11-03,Household,ABC,819.000,209100.513996,2,11,1195.000,292020.462024,1043.000,247336.266010,NaN,NaN,NaN,NaN,3057.000,984.117647,False
17,2021-11-03,Household,XYZ,1108.000,249315.458000,2,11,1196.000,262403.349000,1124.000,247156.009988,NaN,NaN,NaN,NaN,3428.000,971.444444,False
18,2021-11-04,Beverages,ABC,1256.000,255926.913000,3,11,837.000,199145.596010,1140.000,277904.838000,964.666667,157.023353,243866.077673,40451.562736,4150.000,966.631579,False
19,2021-11-04,Beverages,XYZ,914.000,237710.290000,3,11,841.000,228560.219000,922.000,251330.130000,847.333333,71.710064,222607.372673,32115.655501,3456.000,965.150000,False

In [ ]:
full_df_gb

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,lag_qty_2,lag_sales_2,rolling_mean_qty_3,rolling_std_qty_3,rolling_mean_sales_3,rolling_std_sales_3,cumsum_qty,cummean_qty,Is_Holiday
0,2021-11-01,Beverages,ABC,917.000,254547.799010,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,917.000,917.000000,0
1,2021-11-01,Beverages,XYZ,779.000,187931.769020,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,779.000,1028.500000,0
2,2021-11-01,Grocery,ABC,2360.399,437286.624020,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2360.399,964.666667,0
3,2021-11-01,Grocery,XYZ,2987.060,491450.723000,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2987.060,1037.500000,0
4,2021-11-01,Household,ABC,1043.000,247336.266010,0,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1043.000,1028.200000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2022-02-28,Beverages,XYZ,1256.000,301840.902984,0,2,1751.000,5.310318e+05,1126.000,269641.753000,1398.000000,320.276443,3.989992e+05,130715.547043,131339.000,1155.275862,0
716,2022-02-28,Grocery,ABC,3548.268,700557.436867,0,2,3752.998,7.867650e+05,3486.773,725599.851278,3844.351000,410.941869,7.933261e+05,71233.808433,329358.371,1158.324786,0
717,2022-02-28,Grocery,XYZ,4854.414,950084.212008,0,2,7599.386,1.596598e+06,5254.694,985413.796996,5700.358333,1720.056359,1.129335e+06,414486.318350,431678.357,1165.364407,0
718,2022-02-28,Household,ABC,1520.000,394323.614974,0,2,1642.000,4.441275e+05,1508.000,390277.067990,1633.333333,121.232559,4.291357e+05,33943.864780,132651.000,1174.344538,0
719,2022-02-28,Household,XYZ,1700.000,412074.053949,0,2,2234.000,5.475594e+05,1989.000,451254.565040,1911.666667,367.159820,4.619920e+05,80735.919007,141447.000,1178.725000,0

In [ ]:
import holidays

us_holidays = holidays.US(years=[2021, 2022])
full_df_gb['Is_Holiday'] = full_df_gb['date_id'].apply(lambda x: x in us_holidays).astype(int)

In [ ]:
full_df_gb[full_df_gb['Is_Holiday'].isin([1])]

,date_id,item_dept,store,item_qty,net_sales,day_of_week,month,lag_qty_1,lag_sales_1,lag_qty_2,lag_sales_2,rolling_mean_qty_3,rolling_std_qty_3,rolling_mean_sales_3,rolling_std_sales_3,cumsum_qty,cummean_qty,Is_Holiday
60,2021-11-11,Beverages,ABC,1017.000,2.652860e+05,3,11,924.000,2.385152e+05,815.000,199577.000000,904.333333,81.303956,2.283590e+05,25283.085510,10692.000,1113.721311,1
61,2021-11-11,Beverages,XYZ,1104.000,2.971450e+05,3,11,934.000,2.599065e+05,971.000,263813.854000,860.666667,160.132237,2.417021e+05,34969.354609,10181.000,1114.096774,1
62,2021-11-11,Grocery,ABC,2745.732,5.197931e+05,3,11,2876.364,5.224618e+05,2489.046,497413.338990,2564.016000,282.427060,4.862389e+05,42915.544141,28538.705,1110.492063,1
63,2021-11-11,Grocery,XYZ,3559.718,6.273321e+05,3,11,3666.634,6.351108e+05,3608.112,622938.069000,3384.720000,438.585022,5.853622e+05,75869.704518,37403.489,1108.093750,1
64,2021-11-11,Household,ABC,1482.000,3.420640e+05,3,11,1160.000,3.041313e+05,930.000,229917.000000,991.000000,148.232925,2.581144e+05,40188.190384,11569.000,1103.384615,1
65,2021-11-11,Household,XYZ,1120.000,2.596890e+05,3,11,1082.000,2.521746e+05,1118.000,277746.993000,1048.000000,91.847700,2.558129e+05,20360.238738,12170.000,1098.560606,1
144,2021-11-25,Beverages,ABC,1302.000,4.003752e+05,3,11,1062.000,3.477265e+05,1202.000,300005.609000,1070.000000,128.187363,2.986090e+05,49830.502146,24685.000,935.800000,1
145,2021-11-25,Beverages,XYZ,1014.000,2.741487e+05,3,11,663.000,1.929735e+05,834.000,217515.708980,739.666667,86.858122,1.992869e+05,16033.213692,23395.000,938.884615,1
146,2021-11-25,Grocery,ABC,3301.456,6.513936e+05,3,11,2093.942,3.993698e+05,2105.910,439004.828040,2154.051333,93.938615,4.286183e+05,25681.901818,62698.211,950.888889,1
147,2021-11-25,Grocery,XYZ,3250.023,5.734580e+05,3,11,2991.714,5.090168e+05,2830.034,503178.397030,2774.166000,250.204591,4.852362e+05,36250.680355,82817.855,961.464286,1
148,2021-11-25,Household,ABC,1162.000,2.978273e+05,3,11,862.000,2.483739e+05,812.000,207607.933040,862.666667,51.003268,2.288952e+05,20443.060911,24597.000,961.689655,1
149,2021-11-25,Household,XYZ,1183.000,2.829472e+05,3,11,733.000,1.900396e+05,915.000,209222.158020,792.333333,106.251275,1.957168e+05,11745.340691,26241.000,964.033333,1
318,2021-12-24,Beverages,ABC,1340.000,3.624400e+05,4,12,1553.000,3.379340e+05,1525.000,459972.750030,1381.000000,274.021897,3.493031e+05,105445.741295,60127.000,2629.909392,1
319,2021-12-24,Beverages,XYZ,1489.000,4.019980e+05,4,12,979.000,2.331210e+05,998.000,262072.890000,940.666667,83.392646,2.319567e+05,30714.930413,54943.000,2620.567775,1
320,2021-12-24,Grocery,ABC,7787.289,2.035445e+06,4,12,3126.112,6.722103e+05,2809.733,629791.243990,2875.601667,224.929604,6.213161e+05,55618.293418,145967.661,2613.891358,1
321,2021-12-24,Grocery,XYZ,4525.658,8.836829e+05,4,12,3613.418,6.857895e+05,3367.016,626451.140050,3314.208000,328.809961,6.218552e+05,66351.713880,183038.451,2610.934280,1
322,2021-12-24,Household,ABC,1311.000,3.756053e+05,4,12,1380.000,3.865307e+05,1316.000,390761.947990,1257.000000,160.832211,3.581516e+05,52860.795854,56964.000,2606.795723,1
323,2021-12-24,Household,XYZ,1462.000,3.550102e+05,4,12,1104.000,2.613750e+05,1035.000,236027.249120,1042.000000,58.813264,2.417911e+05,17431.972517,59054.000,2601.382798,1
324,2021-12-25,Beverages,ABC,936.000,2.185432e+05,5,12,1340.000,3.624400e+05,1553.000,337934.049000,1472.666667,115.742530,3.867823e+05,64558.270521,61063.000,2598.046294,1
325,2021-12-25,Beverages,XYZ,1028.000,2.475753e+05,5,12,1489.000,4.019980e+05,979.000,233120.987990,1155.333333,289.119929,2.990640e+05,90311.204410,55971.000,2599.570419,1
326,2021-12-25,Grocery,ABC,1968.767,3.889332e+05,5,12,7787.289,2.035445e+06,3126.112,672210.341000,4574.378000,2786.955640,1.112482e+06,799590.849650,147936.428,2599.721862,1
327,2021-12-25,Grocery,XYZ,3841.522,6.908931e+05,5,12,4525.658,8.836829e+05,3613.418,685789.478036,3835.364000,610.375164,7.319745e+05,134691.643526,186879.973,2599.749398,1
328,2021-12-25,Household,ABC,913.000,2.470410e+05,5,12,1311.000,3.756053e+05,1380.000,386530.713000,1335.666667,38.475100,3.842993e+05,7820.812133,57877.000,2597.041629,1
329,2021-12-25,Household,XYZ,1182.000,2.904450e+05,5,12,1462.000,3.550102e+05,1104.000,261375.040960,1200.333333,229.221145,2.841375e+05,62672.419692,60236.000,2596.934900,1
360,2021-12-31,Beverages,ABC,1726.000,4.868078e+05,4,12,1365.000,3.214915e+05,1046.000,253871.246000,1147.333333,188.654004,2.654574e+05,51233.093601,67937.000,2987.060000,1
361,2021-12-31,Beverages,XYZ,1761.000,4.059347e+05,4,12,1095.000,2.607802e+05,971.000,231117.130000,1008.666667,74.968882,2.407398e+05,17360.051993,62720.000,3305.388000,1
362,2021-12-31,Grocery,ABC,4598.302,1.079095e+06,4,12,3125.224,6.575094e+05,3166.758,699701.469000,2944.653667,349.344291,6.272898e+05,91350.534241,165388.437,3299.625333,1
363,2021-12-31,Grocery,XYZ,5963.381,1.161787e+06,4,12,4390.424,8.190010e+05,4064.300,779442.332000,3810.508667,740.195461,7.125423e+05,151430.400323,210923.614,3291.739250,1
364,2021-12-31,Household,ABC,1606.000,4.518945e+05,4,12,1245.000,3.333950e+05,977.000,259719.000000,1098.666667,135.692053,2.883907e+05,39460.172888,64553.000,3290.957000,1
365,2021-12-31,Household,XYZ,1646.000,3.829678e+05,4,12,1403.000,3.411630e+05,1256.000,326213.000000,1203.000000,231.103873,2.991947e+05,60210.020742,68052.000,3346.774833,1
366,2022-01-01,Beverages,ABC,1137.000,1.996153e+05,5,1,1726.000,4.868078e+05,1365.000,321491.450000,1379.000000,340.216108,3.540568e+05,119834.220490,69074.000,3384.230143,1
367,2022-01-01,Beverages,XYZ,894.000,1.795954e+05,5,1,1761.000,4.059347e+05,1095.000,260780.220000,1275.666667,424.859192,2.992774e+05,93551.156302,63614.000,3321.128125,1
368,2022-01-01,Grocery,ABC,2129.540,4.108703e+05,5,1,4598.302,1.079095e+06,3125.224,657509.354000,3630.094667,838.749276,8.121021e+05,232183.414532,167517.977,3353.015222,1
369,2022-01-01,Grocery,XYZ,3024.884,5.596523e+05,5,1,5963.381,1.161787e+06,4390.424,819000.984000,4806.035000,1015.468630,9.200766e+05,210259.367823,213948.498,3384.377100,1
370,2022-01-01,Household,ABC,718.000,2.137570e+05,5,1,1606.000,4.518945e+05,1245.000,333395.000000,1276.000000,315.643787,3.483362e+05,96955.070975,65271.000,3400.317182,1
371,2022-01-01,Household,XYZ,852.000,2.153900e+05,5,1,1646.000,3.829678e+05,1403.000,341163.020000,1435.000000,196.959387,3.501146e+05,29417.254184,68904.000,3373.129750,1
462,2022-01-17,Beverages,ABC,1540.000,1.961668e+05,0,1,808.000,2.358812e+05,1034.000,211739.000000,902.666667,117.376886,2.135233e+05,21521.400251,86882.000,3454.297883,1
463,2022-01-17,Beverages,XYZ,1297.000,3.216610e+05,0,1,842.000,1.950560e+05,990.000,235791.060000,970.000000,119.264412,2.338030e+05,37792.256705,79117.000,3462.667288,1
464,2022-01-17,Grocery,ABC,1887.070,3.674402e+05,0,1,1779.437,4.071679e+05,2107.406,443967.016000,2024.780000,216.214090,4.243212e+05,18525.737390,205187.849,3484.475190,1
465,2022-01-17,Grocery,XYZ,3487.211,6.646328e+05,0,1,3108.163,5.587627e+05,3226.084,603255.614000,3064.575000,187.149473,5.556263e+05,49272.359510,265229.781,3487.830717,1
466,2022-01-17,Household,ABC,747.000,2.168572e+05,0,1,724.000,1.819690e+05,801.000,206776.000000,774.666667,43.890014,1.943247e+05,12403.777194,81300.000,3489.307196,1
467,2022-01-17,Household,XYZ,1363.000,3.143600e+05,0,1,1177.000,2.828110e+05,1115.000,309093.841000,1093.000000,96.891692,2.752516e+05,38187.264152,86441.000,3494.719444,1
672,2022-02-21,Beverages,ABC,1343.000,3.872340e+05,0,2,1295.000,2.841073e+05,1384.000,486966.615030,1584.000000,425.818036,4.755599e+05,186011.786383,132973.000,1107.424658,1
673,2022-02-21,Beverages,XYZ,1142.000,2.621435e+05,0,2,1398.000,3.093088e+05,1756.000,552952.198040,1521.666667,203.042688,4.542050e+05,128210.125493,122258.000,1105.391892,1
674,2022-02-21,Grocery,ABC,2679.392,5.749436e+05,0,2,2701.138,5.682010e+05,3098.705,719084.678205,3012.422000,278.359421,6.481510e+05,75844.860040,305056.783,1103.813333,1
675,2022-02-21,Grocery,XYZ,3615.324,6.953863e+05,0,2,4886.174,9.356528e+05,4723.872,907260.342140,4436.175667,643.995769,8.625613e+05,102992.619189,398142.277,1103.960526,1
676,2022-02-21,Household,ABC,1245.000,3.351479e+05,0,2,1110.000,3.027452e+05,1242.000,352143.713034,1168.000000,67.438861,3.224626e+05,26163.121054,122487.000,1104.909091,1
677,2022-02-21,Household,XYZ,1294.000,3.067346e+05,0,2,1816.000,4.585499e+05,1302.000,329126.569038,1435.333333,334.558415,3.564114e+05,91596.418018,130318.000,1108.217949,1

In [ ]:
#Sales related features -> lag features, rolling window (average across certain time period)
#Item related features -> lag features, rolling windows, most item sold in last days
#time related features ->

In [ ]:
X = train_df[['store', 'item_dept','lag_qty_1', 'lag_sales_1', 'lag_qty_2', 'lag_sales_2']].dropna() #
y_item_qty = train_df[['item_qty']]
y_net_sales = train_df[['net_sales']]

# model.fit(X, y)

In [ ]:
X.head(12)

   store  item_dept  lag_qty_1    lag_sales_1  lag_qty_2    lag_sales_2
12   ABC  Beverages   1140.000  277904.838000    917.000  254547.799010
13   XYZ  Beverages    922.000  251330.130000    779.000  187931.769020
14   ABC    Grocery   3021.684  582206.592985   2360.399  437286.624020
15   XYZ    Grocery   3623.716  592195.489002   2987.060  491450.723000
16   ABC  Household   1195.000  292020.462024   1043.000  247336.266010
17   XYZ  Household   1196.000  262403.349000   1124.000  247156.009988
18   ABC  Beverages    837.000  199145.596010   1140.000  277904.838000
19   XYZ  Beverages    841.000  228560.219000    922.000  251330.130000
20   ABC    Grocery   2155.128  397946.965024   3021.684  582206.592985
21   XYZ    Grocery   3288.100  574684.181000   3623.716  592195.489002
22   ABC  Household    819.000  209100.513996   1195.000  292020.462024
23   XYZ  Household   1108.000  249315.458000   1196.000  262403.349000

In [ ]:
X[(X['store'] == 'ABC') & (X['item_dept'] == 'Beverages')]

    store  item_dept  lag_qty_1   lag_sales_1  lag_qty_2   lag_sales_2
12    ABC  Beverages     1140.0  277904.83800      917.0  254547.79901
18    ABC  Beverages      837.0  199145.59601     1140.0  277904.83800
24    ABC  Beverages     1256.0  255926.91300      837.0  199145.59601
30    ABC  Beverages      991.0  255695.36500     1256.0  255926.91300
36    ABC  Beverages      884.0  241963.00000      991.0  255695.36500
..    ...        ...        ...           ...        ...           ...
522   ABC  Beverages     1095.0  382074.00000      874.0  253524.00000
528   ABC  Beverages     1253.0  395367.00000     1095.0  382074.00000
534   ABC  Beverages     1319.0  397226.50000     1253.0  395367.00000
540   ABC  Beverages      966.0  213541.73000     1319.0  397226.50000
546   ABC  Beverages      923.0  196153.95000      966.0  213541.73000

[90 rows x 6 columns]