In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import sys
import os
import pickle

In [2]:
# Setting path to load util functions
from pathlib import Path
parent_dir = Path.cwd().parents[0]
sys.path.append(os.path.abspath(parent_dir))

In [3]:
train_path = '../../data/training_data.csv'
train_df = pd.read_csv(train_path)
train_df['date_id'] = pd.to_datetime(train_df['date_id'])

In [4]:
train_df.head()

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0 2021-11-01    Grocery       1.0      160.0   XYZ   16620    1475459.0
1 2021-11-01    Grocery       2.0      480.0   XYZ   32365    1475459.0
2 2021-11-01    Grocery       1.0      127.0   XYZ   31349    1475459.0
3 2021-11-01  Household       2.0      110.0   XYZ    1266    1475475.0
4 2021-11-01  Household       1.0      150.0   XYZ  114920    1475475.0

In [5]:
train_df_gb = train_df.groupby(['date_id', 'store', 'item_dept'])[['item_qty', 'net_sales']].sum().reset_index()

In [6]:
train_df_gb.head(10)

     date_id store  item_dept  item_qty      net_sales
0 2021-11-01   ABC  Beverages   917.000  254547.799010
1 2021-11-01   ABC    Grocery  2360.399  437286.624020
2 2021-11-01   ABC  Household  1043.000  247336.266010
3 2021-11-01   XYZ  Beverages   779.000  187931.769020
4 2021-11-01   XYZ    Grocery  2987.060  491450.723000
5 2021-11-01   XYZ  Household  1124.000  247156.009988
6 2021-11-02   ABC  Beverages  1140.000  277904.838000
7 2021-11-02   ABC    Grocery  3021.684  582206.592985
8 2021-11-02   ABC  Household  1195.000  292020.462024
9 2021-11-02   XYZ  Beverages   922.000  251330.130000

In [7]:
loaded_preprocessor = pickle.load(open('../models/preprocessor.pkl', 'rb'))
trained_model = pickle.load(open('../models/final_model.pkl', 'rb'))

In [8]:
train_df_gb = loaded_preprocessor._groupby_df(train_df)

In [9]:
train_df_gb

       date_id  item_dept store  item_qty     net_sales
0   2021-11-01  Beverages   ABC   917.000  254547.79901
1   2021-11-01  Beverages   XYZ   779.000  187931.76902
2   2021-11-01    Grocery   ABC  2360.399  437286.62402
3   2021-11-01    Grocery   XYZ  2987.060  491450.72300
4   2021-11-01  Household   ABC  1043.000  247336.26601
..         ...        ...   ...       ...           ...
547 2022-01-31  Beverages   XYZ   791.000  179122.36501
548 2022-01-31    Grocery   ABC  2603.874  542643.93100
549 2022-01-31    Grocery   XYZ  2996.909  563043.73400
550 2022-01-31  Household   ABC  1115.000  314800.26999
551 2022-01-31  Household   XYZ  1141.000  269010.67500

[552 rows x 5 columns]

In [10]:
train_df_processed = loaded_preprocessor.transform(train_df)
train_df_processed.head(20)

,date_id,item_dept,store,item_qty,net_sales,lag_item_qty_1,lag_item_qty_2,lag_item_qty_3,rolling_mean_item_qty_3,rolling_std_item_qty_3,cumsum_item_qty,cummean_item_qty,expanding_min_item_qty,expanding_max_item_qty,diff_item_qty,diff_item_qty_7,lag_net_sales_1,lag_net_sales_2,lag_net_sales_3,rolling_mean_net_sales_3,rolling_std_net_sales_3,cumsum_net_sales,cummean_net_sales,expanding_min_net_sales,expanding_max_net_sales,diff_net_sales,diff_net_sales_7,day_of_week,isWeekend,Is_Holiday,store_XYZ,item_dept_Grocery,item_dept_Household
42,2021-11-08,Beverages,ABC,974.000,246984.68200,937.000,884.000,991.000,937.333333,53.500779,6962.000,994.571429,837.000,1256.000,53.000,57.000,218668.693000,241963.000000,255695.365000,238775.686000,18717.981669,1.703852e+06,243407.457717,199145.596010,277904.838000,-23294.307000,57.000,0,0,0,0.0,0.0,0.0
43,2021-11-08,Beverages,XYZ,677.000,201386.08100,1043.000,1086.000,910.000,1013.000000,91.755109,6495.000,927.857143,779.000,1086.000,-43.000,-102.000,289993.000000,262426.080000,217746.000000,256721.693333,36459.734951,1.675697e+06,239385.355431,187931.769020,289993.000000,27566.920000,-102.000,0,0,0,1.0,0.0,0.0
44,2021-11-08,Grocery,ABC,2326.638,438841.43801,2646.820,2614.006,2654.582,2638.469333,21.538411,18100.925,2585.846429,2155.128,3021.684,32.814,-33.761,505512.742970,548660.900000,479383.663970,511185.768980,34985.300857,3.473914e+06,496273.373853,397946.965024,582206.592985,-43148.157030,-33.761,0,0,0,0.0,1.0,0.0
45,2021-11-08,Grocery,XYZ,2879.414,498037.79100,3608.962,3625.864,3287.828,3507.551333,190.473559,23689.611,3384.230143,2987.060,3625.864,-16.902,-107.646,661655.000010,622856.562004,557072.729000,613861.430338,52868.205452,4.010397e+06,572913.907431,491450.723000,661655.000010,38798.438006,-107.646,0,0,0,1.0,1.0,0.0
46,2021-11-08,Household,ABC,883.000,240294.89201,998.000,1152.000,986.000,1045.333333,92.570694,7114.000,1016.285714,819.000,1195.000,-154.000,-160.000,233781.880016,284326.000000,265589.692020,261232.524012,25552.215188,1.775416e+06,253630.794154,209100.513996,292020.462024,-50544.119984,-160.000,0,0,0,0.0,0.0,1.0
47,2021-11-08,Household,XYZ,944.000,237517.07200,1252.000,1315.000,963.000,1176.666667,187.702779,7906.000,1129.428571,948.000,1315.000,-63.000,-180.000,283841.000000,305140.577002,222311.011000,270430.862667,43012.301595,1.798679e+06,256954.189714,222311.011000,305140.577002,-21299.577002,-180.000,0,0,0,1.0,0.0,1.0
48,2021-11-09,Beverages,ABC,815.000,199577.00000,974.000,937.000,884.000,931.666667,45.236416,7936.000,992.000000,837.000,1256.000,37.000,-325.000,246984.682000,218668.693000,241963.000000,235872.125000,15108.702028,1.950837e+06,243854.610752,199145.596010,277904.838000,28315.989000,-325.000,1,0,0,0.0,0.0,0.0
49,2021-11-09,Beverages,XYZ,971.000,263813.85400,677.000,1043.000,1086.000,935.333333,224.753940,7172.000,896.500000,677.000,1086.000,-366.000,49.000,201386.081000,289993.000000,262426.080000,251268.387000,45344.978867,1.877084e+06,234635.446128,187931.769020,289993.000000,-88606.919000,49.000,1,0,0,1.0,0.0,0.0
50,2021-11-09,Grocery,ABC,2489.046,497413.33899,2326.638,2646.820,2614.006,2529.154667,176.150333,20427.563,2553.445375,2155.128,3021.684,-320.182,-532.638,438841.438010,505512.742970,548660.900000,497671.693660,55328.022725,3.912755e+06,489094.381872,397946.965024,582206.592985,-66671.304960,-532.638,1,0,0,0.0,1.0,0.0
51,2021-11-09,Grocery,XYZ,3608.112,622938.06900,2879.414,3608.962,3625.864,3371.413333,426.167722,26569.025,3321.128125,2879.414,3625.864,-729.548,-15.604,498037.791000,661655.000010,622856.562004,594183.117671,85494.283894,4.508435e+06,563554.392877,491450.723000,661655.000010,-163617.209010,-15.604,1,0,0,1.0,1.0,0.0
52,2021-11-09,Household,ABC,930.000,229917.00000,883.000,998.000,1152.000,1011.000000,134.970367,7997.000,999.625000,819.000,1195.000,-115.000,-265.000,240294.892010,233781.880016,284326.000000,252800.924009,27495.047618,2.015710e+06,251963.806386,209100.513996,292020.462024,6513.011994,-265.000,1,0,0,0.0,0.0,1.0
53,2021-11-09,Household,XYZ,1118.000,277746.99300,944.000,1252.000,1315.000,1170.333333,198.525397,8850.000,1106.250000,944.000,1315.000,-308.000,-78.000,237517.072000,283841.000000,305140.577002,275499.549667,34574.838430,2.036196e+06,254524.549999,222311.011000,305140.577002,-46323.928000,-78.000,1,0,0,1.0,0.0,1.0
54,2021-11-10,Beverages,ABC,924.000,238515.24300,815.000,974.000,937.000,908.666667,83.200561,8751.000,972.333333,815.000,1256.000,-159.000,87.000,199577.000000,246984.682000,218668.693000,221743.458333,23852.939327,2.150414e+06,238934.876224,199145.596010,277904.838000,-47407.682000,87.000,2,0,0,0.0,0.0,0.0
55,2021-11-10,Beverages,XYZ,934.000,259906.50800,971.000,677.000,1043.000,897.000000,193.896880,8143.000,904.777778,677.000,1086.000,294.000,93.000,263813.854000,201386.081000,289993.000000,251730.978333,45522.449813,2.140897e+06,237877.491447,187931.769020,289993.000000,62427.773000,93.000,2,0,0,1.0,0.0,0.0
56,2021-11-10,Grocery,ABC,2876.364,522461.82600,2489.046,2326.638,2646.820,2487.501333,160.096589,22916.609,2546.289889,2155.128,3021.684,162.408,721.236,497413.338990,438841.438010,505512.742970,480589.173323,36380.697341,4.410168e+06,490018.710441,397946.965024,582206.592985,58571.900980,721.236,2,0,0,0.0,1.0,0.0
57,2021-11-10,Grocery,XYZ,3666.634,635110.82600,3608.112,2879.414,3608.962,3365.496000,420.959575,30177.137,3353.015222,2879.414,3625.864,728.698,378.534,622938.069000,498037.791000,661655.000010,594210.286670,85507.963835,5.131373e+06,570152.579113,491450.723000,661655.000010,124900.278000,378.534,2,0,0,1.0,1.0,0.0
58,2021-11-10,Household,ABC,1160.000,304131.27800,930.000,883.000,998.000,937.000000,57.818682,8927.000,991.888889,819.000,1195.000,47.000,341.000,229917.000000,240294.892010,233781.880016,234664.590675,5244.954168,2.245627e+06,249514.161232,209100.513996,292020.462024,-10377.892010,341.000,2,0,0,0.0,0.0,1.0
59,2021-11-10,Household,XYZ,1082.000,252174.64699,1118.000,944.000,1252.000,1104.666667,154.432294,9968.000,1107.555556,944.000,1315.000,174.000,-26.000,277746.993000,237517.072000,283841.000000,266368.355000,25171.047423,2.313943e+06,257104.821444,222311.011000,305140.577002,40229.921000,-26.000,2,0,0,1.0,0.0,1.0
60,2021-11-11,Beverages,ABC,1017.000,265286.00000,924.000,815.000,974.000,904.333333,81.303956,9675.000,967.500000,815.000,1256.000,109.000,-239.000,238515.243000,199577.000000,246984.682000,228358.975000,25283.085510,2.388929e+06,238892.912902,199145.596010,277904.838000,38938.243000,-239.000,3,0,1,0.0,0.0,0.0
61,2021-11-11,Beverages,XYZ,1104.000,297145.00000,934.000,971.000,677.000,860.666667,160.132237,9077.000,907.700000,677.000,1086.000,-37.000,190.000,259906.508000,263813.854000,201386.081000,241702.147667,34969.354609,2.400804e+06,240080.393102,187931.769020,289993.000000,-3907.346000,190.000,3,0,1,1.0,0.0,0.0

In [11]:
from utils.model_helpers import generate_forecasting_df
generate_forecasting_df(start_date='2022-02-01', end_date='2022-02-28', depts_list=train_df['item_dept'].unique(),
                        stores_list=train_df['store'].unique(), historical_df=train_df_gb, preprocessor=loaded_preprocessor,
                        dual_model=trained_model)

       date_id  item_dept store      net_sales     item_qty
0   2022-02-01    Grocery   XYZ  683009.846470  3512.437157
1   2022-02-01    Grocery   ABC  697563.119719  3086.222626
2   2022-02-01  Household   XYZ  247067.375887  1160.606818
3   2022-02-01  Household   ABC  274217.838980  1202.294195
4   2022-02-01  Beverages   XYZ  222458.745834   898.002637
..         ...        ...   ...            ...          ...
163 2022-02-28    Grocery   ABC  588028.037395  2995.321694
164 2022-02-28  Household   XYZ  240592.911774  1212.149357
165 2022-02-28  Household   ABC  261885.076127  1159.244110
166 2022-02-28  Beverages   XYZ  216969.282702   948.449825
167 2022-02-28  Beverages   ABC  269278.855371   962.360649

[168 rows x 5 columns]