In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = pd.read_csv(r'../data/training_data.csv')
df.head()

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0

In [21]:
df['date_id'] = pd.to_datetime(df['date_id'], format='%m/%d/%Y')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614098 entries, 0 to 614097
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date_id      614098 non-null  datetime64[ns]
 1   item_dept    614098 non-null  object
 2   item_qty     614098 non-null  float64
 3   net_sales    614098 non-null  float64
 4   store        614098 non-null  object
 5   item         614098 non-null  int64
 6   invoice_num  591288 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 32.8+ MB

In [23]:
df.describe()

,date_id,item_qty,net_sales,item,invoice_num
count,614098,614098.000000,614098.000000,614098.00000,5.912880e+05
mean,2021-12-16 16:21:54.693094912,1.533792,335.067969,67622.41479,4.231954e+06
min,2021-11-01 00:00:00,-59.000000,-15250.000000,906.00000,1.475419e+06
25%,2021-11-25 00:00:00,1.000000,124.000000,14340.00000,2.581947e+06
50%,2021-12-17 00:00:00,1.000000,215.000000,89725.00000,4.597865e+06
75%,2022-01-08 00:00:00,1.668000,371.000000,117021.00000,5.598286e+06
max,2022-01-31 00:00:00,880.000000,316880.280000,124146.00000,9.354809e+06
std,NaN,3.058092,824.733169,48909.65677,1.704178e+06

In [24]:
df['item_dept'].value_counts()

item_dept
Grocery      337991
Household    153951
Beverages    122156
Name: count, dtype: int64

In [25]:
df['store'].value_counts()

store
XYZ    340659
ABC    273439
Name: count, dtype: int64

In [26]:
df['item'].value_counts()

item
9609      7852
22344     7769
1974      6245
14597     5445
996       4678
          ...
115540       1
108705       1
123449       1
22315        1
112017       1
Name: count, Length: 5143, dtype: int64

In [27]:
df['invoice_num'].value_counts()

invoice_num
3129061.0    108
3136241.0     98
7125274.0     95
3438647.0     95
3139627.0     93
            ...
1476768.0      1
1476538.0      1
1476495.0      1
1476402.0      1
1475593.0      1
Name: count, Length: 136756, dtype: int64

In [28]:
df['date_id'].value_counts()

date_id
2021-12-31    10752
2021-12-24     8840
2021-11-28     8541
2021-12-30     8171
2021-11-27     8031
              ...
2021-11-23     5447
2022-01-05     5415
2021-11-22     5315
2022-01-03     5274
2021-11-24     5027
Name: count, Length: 92, dtype: int64